In [ ]:
import pandas as pd
import numpy as np
import tabulate 
import io
import os

In [ ]:
file_path = "./Data/"

for file in os.listdir(file_path):
	print(file)

df_list = [pd.read_excel(file_path + file,
					engine="xlrd" if file.endswith(".xls") else "openpyxl")
				  for file in os.listdir(file_path)]

all_alpha_08.xls
all_alpha_09.xls
all_alpha_10.xls
all_alpha_11.xlsx
all_alpha_12.xlsx
all_alpha_13.xlsx
all_alpha_14.xlsx
all_alpha_15.xlsx
all_alpha_16.xlsx
all_alpha_17.xlsx
all_alpha_18.xlsx
all_alpha_19.xlsx
all_alpha_20.xlsx
all_alpha_21.xlsx
all_alpha_22.xlsx
all_alpha_23.xlsx
all_alpha_24.xlsx
all_alpha_25.xlsx

In [127]:
def create_table(task, header, data: list = df_list, start_year: int = 2008, table_design='plain', vertical=False, expand=False):
  table = []
  for i, df in enumerate(data, start=start_year):
    store = task(df)
    if expand:
      table.append([f"df_{i}", *store])
    else:
      table.append([f"df_{i}", store])
  
  if not vertical:
    table = list(map(list, zip(*([header] + table))))
    header = []
  
  return tabulate.tabulate(tabular_data=table, headers=header, tablefmt=table_design)

#### Basic Exploration

Number of Sample in each year

In [128]:
def get_sample(data: pd.DataFrame):
  """Returns the number of samples in a DataFrame."""
  return data.size

print(create_table(header=["Dataset", "Number of Samples"], table_design="grid", task=get_sample))

+-------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset           | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+-------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Samples | 43272   | 43537   | 39542   | 36907   | 38284   | 43146   | 45306   | 47754   | 46602   | 46602   | 48834   | 48420   | 45810   | 46548   | 47286   | 49356   | 47340   | 40428   |
+-------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

Number of Columns in each dataset

In [ ]:
def get_shape(data: pd.DataFrame):
  """Returns the number of columns in a DataFrame."""
  return [data.shape[0], data.shape[1]]

print(create_table(header=["Dataset", "Number of Rows", "Number of Columns"], table_design="grid", task=get_shape, expand=True))

+-------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset           | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+-------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Rows    | 2404    | 2561    | 2326    | 2171    | 2252    | 2397    | 2517    | 2653    | 2589    | 2589    | 2713    | 2690    | 2545    | 2586    | 2627    | 2742    | 2630    | 2246    |
+-------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Columns | 18      | 17      | 17      | 17      | 17      | 18      | 18      | 18      | 18      | 18      | 18      | 18      | 18      | 18      | 18      | 18      | 18      | 18      |
+-------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

Columns

In [ ]:
def get_columns_value(data: pd.DataFrame):
  """Return list of all Columns"""
  Columns_value = data.columns.values
  returner = ''
  for value in Columns_value:
    returner += f"{value:<20}\n"
  return returner

print(create_table(task=get_columns_value, header=['Dataset', 'Columns'], table_design='grid'))

+---------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Dataset | df_2008              | df_2009              | df_2010              | df_2011              | df_2012              | df_2013              | df_2014              | df_2015              | df_2016              | df_2017              | df_2018              | df_2019              | df_2020              | df_2021              | df_2022              | df_2023              | df_2024              | df_2025              |
+---------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Columns | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                | Model                |
|         | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                | Displ                |
|         | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  | Cyl                  |
|         | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                | Trans                |
|         | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                | Drive                |
|         | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 | Fuel                 |
|         | Sales Area           | Sales Area           | Sales Area           | Sales Area           | Sales Area           | Sales Area           | Sales Area           | Sales Area           | Cert Region          | Cert Region          | Cert Region          | Cert Region          | Cert Region          | Cert Region          | Cert Region          | Cert Region          | Cert Region          | Cert Region          |
|         | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 | Stnd                 |
|         | Underhood ID         | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     | Stnd Description     |
|         | Veh Class            | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         | Underhood ID         |
|         | Air Pollution Score  | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            | Veh Class            |
|         | FE Calc Appr         | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  | Air Pollution Score  |
|         | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             | City MPG             |
|         | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              | Hwy MPG              |
|         | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              | Cmb MPG              |
|         | Unadj Cmb MPG        | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score | Greenhouse Gas Score |
|         | Greenhouse Gas Score | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             | SmartWay             |
|         | SmartWay             |                      |                      |                      |                      | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             | Comb CO2             |
+---------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

Duplicate rows in each dataset

In [131]:
def get_duplicate(data: pd.DataFrame):
  return data.duplicated().sum()

print(create_table(task=get_duplicate, header=['Dataset', 'Number of Duplicate'], table_design='grid'))

+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset             | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Duplicate | 25      | 43      | 28      | 30      | 40      | 27      | 22      | 38      | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       |
+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

Datatype in Columns

In [132]:
def get_info(data: pd.DataFrame):
  buffer = io.StringIO()
  data.info(buf=buffer)
  return buffer.getvalue()

print(create_table(task=get_info, header=['Dataset', 'Info'], table_design='grid'))

+---------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+
| Dataset | df_2008                                            | df_2009                                            | df_2010                                            | df_2011                                            | df_2012                                            | df_2013                                            | df_2014                                            | df_2015                                            | df_2016                                            | df_2017                                            | df_2018                                            | df_2019                                            | df_2020                                            | df_2021                                            | df_2022                                            | df_2023                                            | df_2024                                            | df_2025                                            |
+---------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+----------------------------------------------------+
| Info    | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              | <class 'pandas.core.frame.DataFrame'>              |
|         | RangeIndex: 2404 entries, 0 to 2403                | RangeIndex: 2561 entries, 0 to 2560                | RangeIndex: 2326 entries, 0 to 2325                | RangeIndex: 2171 entries, 0 to 2170                | RangeIndex: 2252 entries, 0 to 2251                | RangeIndex: 2397 entries, 0 to 2396                | RangeIndex: 2517 entries, 0 to 2516                | RangeIndex: 2653 entries, 0 to 2652                | RangeIndex: 2589 entries, 0 to 2588                | RangeIndex: 2589 entries, 0 to 2588                | RangeIndex: 2713 entries, 0 to 2712                | RangeIndex: 2690 entries, 0 to 2689                | RangeIndex: 2545 entries, 0 to 2544                | RangeIndex: 2586 entries, 0 to 2585                | RangeIndex: 2627 entries, 0 to 2626                | RangeIndex: 2742 entries, 0 to 2741                | RangeIndex: 2630 entries, 0 to 2629                | RangeIndex: 2246 entries, 0 to 2245                |
|         | Data columns (total 18 columns):                   | Data columns (total 17 columns):                   | Data columns (total 17 columns):                   | Data columns (total 17 columns):                   | Data columns (total 17 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   | Data columns (total 18 columns):                   |
|         |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |  #   Column                Non-Null Count  Dtype   |
|         | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   | ---  ------                --------------  -----   |
|         |  0   Model                 2404 non-null   object  |  0   Model                 2561 non-null   object  |  0   Model                 2326 non-null   object  |  0   Model                 2171 non-null   object  |  0   Model                 2252 non-null   object  |  0   Model                 2397 non-null   object  |  0   Model                 2517 non-null   object  |  0   Model                 2653 non-null   object  |  0   Model                 2589 non-null   object  |  0   Model                 2589 non-null   object  |  0   Model                 2713 non-null   object  |  0   Model                 2690 non-null   object  |  0   Model                 2545 non-null   object  |  0   Model                 2586 non-null   object  |  0   Model                 2627 non-null   object  |  0   Model                 2742 non-null   object  |  0   Model                 2630 non-null   object  |  0   Model                 2246 non-null   object  |
|         |  1   Displ                 2404 non-null   float64 |  1   Displ                 2561 non-null   float64 |  1   Displ                 2322 non-null   float64 |  1   Displ                 2165 non-null   float64 |  1   Displ                 2240 non-null   float64 |  1   Displ                 2372 non-null   float64 |  1   Displ                 2487 non-null   float64 |  1   Displ                 2621 non-null   float64 |  1   Displ                 2529 non-null   float64 |  1   Displ                 2527 non-null   float64 |  1   Displ                 2663 non-null   float64 |  1   Displ                 2610 non-null   float64 |  1   Displ                 2462 non-null   float64 |  1   Displ                 2465 non-null   float64 |  1   Displ                 2437 non-null   float64 |  1   Displ                 2355 non-null   float64 |  1   Displ                 2082 non-null   float64 |  1   Displ                 1667 non-null   float64 |
|         |  2   Cyl                   2205 non-null   object  |  2   Cyl                   2363 non-null   float64 |  2   Cyl                   2322 non-null   float64 |  2   Cyl                   2154 non-null   float64 |  2   Cyl                   2240 non-null   float64 |  2   Cyl                   2372 non-null   float64 |  2   Cyl                   2487 non-null   float64 |  2   Cyl                   2621 non-null   float64 |  2   Cyl                   2529 non-null   float64 |  2   Cyl                   2527 non-null   float64 |  2   Cyl                   2663 non-null   float64 |  2   Cyl                   2610 non-null   float64 |  2   Cyl                   2462 non-null   float64 |  2   Cyl                   2465 non-null   float64 |  2   Cyl                   2437 non-null   float64 |  2   Cyl                   2355 non-null   float64 |  2   Cyl                   2082 non-null   float64 |  2   Cyl                   1667 non-null   float64 |
|         |  3   Trans                 2205 non-null   object  |  3   Trans                 2561 non-null   object  |  3   Trans                 2326 non-null   object  |  3   Trans                 2171 non-null   object  |  3   Trans                 2252 non-null   object  |  3   Trans                 2397 non-null   object  |  3   Trans                 2517 non-null   object  |  3   Trans                 2653 non-null   object  |  3   Trans                 2589 non-null   object  |  3   Trans                 2589 non-null   object  |  3   Trans                 2713 non-null   object  |  3   Trans                 2690 non-null   object  |  3   Trans                 2545 non-null   object  |  3   Trans                 2586 non-null   object  |  3   Trans                 2627 non-null   object  |  3   Trans                 2742 non-null   object  |  3   Trans                 2630 non-null   object  |  3   Trans                 2246 non-null   object  |
|         |  4   Drive                 2311 non-null   object  |  4   Drive                 2561 non-null   object  |  4   Drive                 2326 non-null   object  |  4   Drive                 2171 non-null   object  |  4   Drive                 2252 non-null   object  |  4   Drive                 2397 non-null   object  |  4   Drive                 2517 non-null   object  |  4   Drive                 2653 non-null   object  |  4   Drive                 2589 non-null   object  |  4   Drive                 2589 non-null   object  |  4   Drive                 2713 non-null   object  |  4   Drive                 2690 non-null   object  |  4   Drive                 2545 non-null   object  |  4   Drive                 2586 non-null   object  |  4   Drive                 2627 non-null   object  |  4   Drive                 2742 non-null   object  |  4   Drive                 2630 non-null   object  |  4   Drive                 2246 non-null   object  |
|         |  5   Fuel                  2404 non-null   object  |  5   Fuel                  2561 non-null   object  |  5   Fuel                  2326 non-null   object  |  5   Fuel                  2171 non-null   object  |  5   Fuel                  2252 non-null   object  |  5   Fuel                  2397 non-null   object  |  5   Fuel                  2517 non-null   object  |  5   Fuel                  2653 non-null   object  |  5   Fuel                  2589 non-null   object  |  5   Fuel                  2589 non-null   object  |  5   Fuel                  2713 non-null   object  |  5   Fuel                  2690 non-null   object  |  5   Fuel                  2545 non-null   object  |  5   Fuel                  2586 non-null   object  |  5   Fuel                  2627 non-null   object  |  5   Fuel                  2742 non-null   object  |  5   Fuel                  2630 non-null   object  |  5   Fuel                  2246 non-null   object  |
|         |  6   Sales Area            2404 non-null   object  |  6   Sales Area            2561 non-null   object  |  6   Sales Area            2326 non-null   object  |  6   Sales Area            2171 non-null   object  |  6   Sales Area            2252 non-null   object  |  6   Sales Area            2397 non-null   object  |  6   Sales Area            2517 non-null   object  |  6   Sales Area            2653 non-null   object  |  6   Cert Region           2589 non-null   object  |  6   Cert Region           2589 non-null   object  |  6   Cert Region           2713 non-null   object  |  6   Cert Region           2690 non-null   object  |  6   Cert Region           2545 non-null   object  |  6   Cert Region           2586 non-null   object  |  6   Cert Region           2627 non-null   object  |  6   Cert Region           2742 non-null   object  |  6   Cert Region           2630 non-null   object  |  6   Cert Region           2246 non-null   object  |
|         |  7   Stnd                  2404 non-null   object  |  7   Stnd                  2561 non-null   object  |  7   Stnd                  2326 non-null   object  |  7   Stnd                  2171 non-null   object  |  7   Stnd                  2252 non-null   object  |  7   Stnd                  2397 non-null   object  |  7   Stnd                  2517 non-null   object  |  7   Stnd                  2653 non-null   object  |  7   Stnd                  2589 non-null   object  |  7   Stnd                  2589 non-null   object  |  7   Stnd                  2713 non-null   object  |  7   Stnd                  2690 non-null   object  |  7   Stnd                  2545 non-null   object  |  7   Stnd                  2586 non-null   object  |  7   Stnd                  2627 non-null   object  |  7   Stnd                  2742 non-null   object  |  7   Stnd                  2630 non-null   object  |  7   Stnd                  2246 non-null   object  |
|         |  8   Underhood ID          2404 non-null   object  |  8   Stnd Description      2561 non-null   object  |  8   Stnd Description      2326 non-null   object  |  8   Stnd Description      2171 non-null   object  |  8   Stnd Description      2252 non-null   object  |  8   Stnd Description      2397 non-null   object  |  8   Stnd Description      2517 non-null   object  |  8   Stnd Description      2653 non-null   object  |  8   Stnd Description      2589 non-null   object  |  8   Stnd Description      2589 non-null   object  |  8   Stnd Description      2713 non-null   object  |  8   Stnd Description      2690 non-null   object  |  8   Stnd Description      2545 non-null   object  |  8   Stnd Description      2586 non-null   object  |  8   Stnd Description      2627 non-null   object  |  8   Stnd Description      2742 non-null   object  |  8   Stnd Description      2630 non-null   object  |  8   Stnd Description      2246 non-null   object  |
|         |  9   Veh Class             2404 non-null   object  |  9   Underhood ID          2561 non-null   object  |  9   Underhood ID          2326 non-null   object  |  9   Underhood ID          2171 non-null   object  |  9   Underhood ID          2252 non-null   object  |  9   Underhood ID          2397 non-null   object  |  9   Underhood ID          2517 non-null   object  |  9   Underhood ID          2653 non-null   object  |  9   Underhood ID          2589 non-null   object  |  9   Underhood ID          2589 non-null   object  |  9   Underhood ID          2713 non-null   object  |  9   Underhood ID          2690 non-null   object  |  9   Underhood ID          2545 non-null   object  |  9   Underhood ID          2586 non-null   object  |  9   Underhood ID          2627 non-null   object  |  9   Underhood ID          2742 non-null   object  |  9   Underhood ID          2630 non-null   object  |  9   Underhood ID          2246 non-null   object  |
|         |  10  Air Pollution Score   2404 non-null   object  |  10  Veh Class             2561 non-null   object  |  10  Veh Class             2326 non-null   object  |  10  Veh Class             2171 non-null   object  |  10  Veh Class             2252 non-null   object  |  10  Veh Class             2397 non-null   object  |  10  Veh Class             2517 non-null   object  |  10  Veh Class             2653 non-null   object  |  10  Veh Class             2589 non-null   object  |  10  Veh Class             2589 non-null   object  |  10  Veh Class             2713 non-null   object  |  10  Veh Class             2690 non-null   object  |  10  Veh Class             2545 non-null   object  |  10  Veh Class             2586 non-null   object  |  10  Veh Class             2627 non-null   object  |  10  Veh Class             2742 non-null   object  |  10  Veh Class             2630 non-null   object  |  10  Veh Class             2246 non-null   object  |
|         |  11  FE Calc Appr          2205 non-null   object  |  11  Air Pollution Score   2561 non-null   object  |  11  Air Pollution Score   2326 non-null   object  |  11  Air Pollution Score   2171 non-null   object  |  11  Air Pollution Score   2252 non-null   object  |  11  Air Pollution Score   2397 non-null   object  |  11  Air Pollution Score   2517 non-null   object  |  11  Air Pollution Score   2653 non-null   object  |  11  Air Pollution Score   2589 non-null   object  |  11  Air Pollution Score   2589 non-null   int64   |  11  Air Pollution Score   2713 non-null   int64   |  11  Air Pollution Score   2690 non-null   int64   |  11  Air Pollution Score   2545 non-null   int64   |  11  Air Pollution Score   2586 non-null   int64   |  11  Air Pollution Score   2627 non-null   int64   |  11  Air Pollution Score   2742 non-null   int64   |  11  Air Pollution Score   2630 non-null   int64   |  11  Air Pollution Score   2246 non-null   int64   |

Check Null

In [133]:
def get_total_null(data: pd.DataFrame):
  return data.isnull().sum().sum()

print(create_table(task=get_total_null, header=['Dataset', 'Missing Values'], table_design="grid"))

+----------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset        | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+----------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Missing Values | 1685    | 990     | 690     | 590     | 604     | 885     | 1045    | 1404    | 120     | 124     | 100     | 160     | 166     | 242     | 380     | 774     | 1096    | 1158    |
+----------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [134]:
def get_null_value(data: pd.DataFrame):
  null_value_counts = data.isnull().sum()
  returner = ''
  for left, right in zip(null_value_counts.index, null_value_counts.values):
    returner += f'{left:<21}{right:>10}\n'
  return returner

print(create_table(task=get_null_value, header=["Dataset", "Missing Value"], table_design="grid"))

+---------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+
| Dataset       | df_2008                         | df_2009                         | df_2010                         | df_2011                         | df_2012                         | df_2013                         | df_2014                         | df_2015                         | df_2016                         | df_2017                         | df_2018                         | df_2019                         | df_2020                         | df_2021                         | df_2022                         | df_2023                         | df_2024                         | df_2025                         |
+---------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+
| Missing Value | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 | Model                         0 |
|               | Displ                         0 | Displ                         0 | Displ                         4 | Displ                         6 | Displ                        12 | Displ                        25 | Displ                        30 | Displ                        32 | Displ                        60 | Displ                        62 | Displ                        50 | Displ                        80 | Displ                        83 | Displ                       121 | Displ                       190 | Displ                       387 | Displ                       548 | Displ                       579 |
|               | Cyl                         199 | Cyl                         198 | Cyl                           4 | Cyl                          17 | Cyl                          12 | Cyl                          25 | Cyl                          30 | Cyl                          32 | Cyl                          60 | Cyl                          62 | Cyl                          50 | Cyl                          80 | Cyl                          83 | Cyl                         121 | Cyl                         190 | Cyl                         387 | Cyl                         548 | Cyl                         579 |
|               | Trans                       199 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 | Trans                         0 |
|               | Drive                        93 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 | Drive                         0 |
|               | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 | Fuel                          0 |
|               | Sales Area                    0 | Sales Area                    0 | Sales Area                    0 | Sales Area                    0 | Sales Area                    0 | Sales Area                    0 | Sales Area                    0 | Sales Area                    0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 | Cert Region                   0 |
|               | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 | Stnd                          0 |
|               | Underhood ID                  0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 | Stnd Description              0 |
|               | Veh Class                     0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 | Underhood ID                  0 |
|               | Air Pollution Score           0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 | Veh Class                     0 |
|               | FE Calc Appr                199 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 | Air Pollution Score           0 |
|               | City MPG                    199 | City MPG                    198 | City MPG                    171 | City MPG                    143 | City MPG                    145 | City MPG                    167 | City MPG                    197 | City MPG                    268 | City MPG                      0 | City MPG                      0 | City MPG                      0 | City MPG                      0 | City MPG                      0 | City MPG                      0 | City MPG                      0 | City MPG                      0 | City MPG                      0 | City MPG                      0 |
|               | Hwy MPG                     199 | Hwy MPG                     198 | Hwy MPG                     171 | Hwy MPG                     143 | Hwy MPG                     145 | Hwy MPG                     167 | Hwy MPG                     197 | Hwy MPG                     268 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 | Hwy MPG                       0 |
|               | Cmb MPG                     199 | Cmb MPG                     198 | Cmb MPG                     171 | Cmb MPG                     143 | Cmb MPG                     145 | Cmb MPG                     167 | Cmb MPG                     197 | Cmb MPG                     268 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 | Cmb MPG                       0 |
|               | Unadj Cmb MPG               199 | Greenhouse Gas Score        198 | Greenhouse Gas Score        169 | Greenhouse Gas Score        138 | Greenhouse Gas Score        145 | Greenhouse Gas Score        167 | Greenhouse Gas Score        197 | Greenhouse Gas Score        268 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 | Greenhouse Gas Score          0 |
|               | Greenhouse Gas Score        199 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 | SmartWay                      0 |
|               | SmartWay                      0 |                                 |                                 |                                 |                                 | Comb CO2                    167 | Comb CO2                    197 | Comb CO2                    268 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 | Comb CO2                      0 |
+---------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+

Number of Non-Null Unique values for features in each dataset

In [135]:
def get_nunique(data: pd.DataFrame):
  Nunique_value = data.nunique()
  returner = ''
  for left, right in zip(Nunique_value.index, Nunique_value.values):
    returner += f'{left:<21}{right:>10}\n'
  return returner

print(create_table(task=get_nunique, header=['Dataset', 'Number of Non-Null Unique'], table_design="grid"))

+---------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+
| Dataset                   | df_2008                         | df_2009                         | df_2010                         | df_2011                         | df_2012                         | df_2013                         | df_2014                         | df_2015                         | df_2016                         | df_2017                         | df_2018                         | df_2019                         | df_2020                         | df_2021                         | df_2022                         | df_2023                         | df_2024                         | df_2025                         |
+---------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+
| Number of Non-Null Unique | Model                       436 | Model                       473 | Model                       495 | Model                       507 | Model                       520 | Model                       547 | Model                       587 | Model                       629 | Model                       607 | Model                       634 | Model                       652 | Model                       674 | Model                       702 | Model                       719 | Model                       759 | Model                       881 | Model                       897 | Model                       800 |
|                           | Displ                        47 | Displ                        47 | Displ                        49 | Displ                        49 | Displ                        47 | Displ                        49 | Displ                        49 | Displ                        49 | Displ                        45 | Displ                        44 | Displ                        45 | Displ                        45 | Displ                        44 | Displ                        40 | Displ                        37 | Displ                        34 | Displ                        33 | Displ                        32 |
|                           | Cyl                           8 | Cyl                           8 | Cyl                           9 | Cyl                           9 | Cyl                           8 | Cyl                           8 | Cyl                           9 | Cyl                           9 | Cyl                           8 | Cyl                           8 | Cyl                           9 | Cyl                           9 | Cyl                           9 | Cyl                           9 | Cyl                           8 | Cyl                           8 | Cyl                           8 | Cyl                           7 |
|                           | Trans                        14 | Trans                        19 | Trans                        16 | Trans                        18 | Trans                        23 | Trans                        23 | Trans                        26 | Trans                        27 | Trans                        25 | Trans                        27 | Trans                        29 | Trans                        28 | Trans                        29 | Trans                        27 | Trans                        27 | Trans                        26 | Trans                        26 | Trans                        23 |
|                           | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 | Drive                         2 |
|                           | Fuel                          5 | Fuel                          5 | Fuel                          6 | Fuel                          7 | Fuel                          7 | Fuel                          8 | Fuel                          8 | Fuel                          8 | Fuel                          6 | Fuel                          7 | Fuel                          6 | Fuel                          6 | Fuel                          6 | Fuel                          6 | Fuel                          6 | Fuel                          6 | Fuel                          6 | Fuel                          7 |
|                           | Sales Area                    3 | Sales Area                    3 | Sales Area                    3 | Sales Area                    3 | Sales Area                    3 | Sales Area                    3 | Sales Area                    3 | Sales Area                    3 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 | Cert Region                   2 |
|                           | Stnd                         12 | Stnd                         10 | Stnd                         14 | Stnd                         14 | Stnd                         15 | Stnd                         15 | Stnd                         20 | Stnd                         26 | Stnd                         26 | Stnd                         27 | Stnd                         25 | Stnd                         23 | Stnd                         19 | Stnd                         16 | Stnd                         12 | Stnd                         14 | Stnd                         15 | Stnd                         17 |
|                           | Underhood ID                343 | Stnd Description             14 | Stnd Description             14 | Stnd Description             14 | Stnd Description             15 | Stnd Description             15 | Stnd Description             20 | Stnd Description             26 | Stnd Description             26 | Stnd Description             27 | Stnd Description             25 | Stnd Description             23 | Stnd Description             19 | Stnd Description             16 | Stnd Description             12 | Stnd Description             14 | Stnd Description             15 | Stnd Description             17 |
|                           | Veh Class                     9 | Underhood ID                361 | Underhood ID                359 | Underhood ID                364 | Underhood ID                374 | Underhood ID                367 | Underhood ID                408 | Underhood ID                417 | Underhood ID                392 | Underhood ID                405 | Underhood ID                422 | Underhood ID                431 | Underhood ID                417 | Underhood ID                379 | Underhood ID                401 | Underhood ID                447 | Underhood ID                453 | Underhood ID                398 |
|                           | Air Pollution Score          13 | Veh Class                     9 | Veh Class                     9 | Veh Class                     9 | Veh Class                     9 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                    10 | Veh Class                     9 |
|                           | FE Calc Appr                  2 | Air Pollution Score          13 | Air Pollution Score          14 | Air Pollution Score          13 | Air Pollution Score          10 | Air Pollution Score           9 | Air Pollution Score           9 | Air Pollution Score           9 | Air Pollution Score           9 | Air Pollution Score           7 | Air Pollution Score           7 | Air Pollution Score           7 | Air Pollution Score           7 | Air Pollution Score           7 | Air Pollution Score           6 | Air Pollution Score           7 | Air Pollution Score           7 | Air Pollution Score           7 |
|                           | City MPG                     39 | City MPG                     45 | City MPG                     46 | City MPG                     58 | City MPG                     69 | City MPG                     77 | City MPG                     89 | City MPG                     91 | City MPG                     98 | City MPG                    107 | City MPG                    113 | City MPG                    116 | City MPG                    120 | City MPG                    131 | City MPG                    156 | City MPG                    163 | City MPG                    168 | City MPG                    163 |
|                           | Hwy MPG                      43 | Hwy MPG                      48 | Hwy MPG                      58 | Hwy MPG                      71 | Hwy MPG                      82 | Hwy MPG                      94 | Hwy MPG                     105 | Hwy MPG                     106 | Hwy MPG                     109 | Hwy MPG                     111 | Hwy MPG                     119 | Hwy MPG                     119 | Hwy MPG                     120 | Hwy MPG                     132 | Hwy MPG                     147 | Hwy MPG                     153 | Hwy MPG                     150 | Hwy MPG                     145 |
|                           | Cmb MPG                      38 | Cmb MPG                      45 | Cmb MPG                      53 | Cmb MPG                      65 | Cmb MPG                      71 | Cmb MPG                      85 | Cmb MPG                      90 | Cmb MPG                      94 | Cmb MPG                     102 | Cmb MPG                     112 | Cmb MPG                     110 | Cmb MPG                     118 | Cmb MPG                     121 | Cmb MPG                     134 | Cmb MPG                     159 | Cmb MPG                     153 | Cmb MPG                     164 | Cmb MPG                     159 |
|                           | Unadj Cmb MPG               721 | Greenhouse Gas Score         25 | Greenhouse Gas Score         27 | Greenhouse Gas Score         22 | Greenhouse Gas Score         11 | Greenhouse Gas Score         11 | Greenhouse Gas Score         11 | Greenhouse Gas Score         11 | Greenhouse Gas Score         11 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 | Greenhouse Gas Score         10 |
|                           | Greenhouse Gas Score         20 | SmartWay                      2 | SmartWay                      2 | SmartWay                      2 | SmartWay                      3 | SmartWay                      4 | SmartWay                      4 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 | SmartWay                      3 |
|                           | SmartWay                      2 |                                 |                                 |                                 |                                 | Comb CO2                    430 | Comb CO2                    447 | Comb CO2                    427 | Comb CO2                    411 | Comb CO2                    416 | Comb CO2                    404 | Comb CO2                    397 | Comb CO2                    395 | Comb CO2                    400 | Comb CO2                    410 | Comb CO2                    395 | Comb CO2                    392 | Comb CO2                    361 |
+---------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+---------------------------------+

#### Cleaning Columns

Rename Columns

In [136]:
for df in df_list:
  Renaming = {
    'Sales Area': 'Cert Region',
    'Model': 'Vehicle Model',
    'Cyl': 'Engine Cylinders',
    'Trans': 'Transmission Type',
    'Displ': 'Engine Displacement L',
    'Cmb MPG': "Combined MPG",
    'Comb CO2': 'Combined CO2'
  }
  df.rename(columns=Renaming, inplace=True)
  df.rename(columns=lambda x: x.strip().title().replace(" ", "_"), inplace=True)

print(create_table(task=get_columns_value, header=["Dataset", "Columns"],  table_design='grid'))

+---------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
| Dataset | df_2008               | df_2009               | df_2010               | df_2011               | df_2012               | df_2013               | df_2014               | df_2015               | df_2016               | df_2017               | df_2018               | df_2019               | df_2020               | df_2021               | df_2022               | df_2023               | df_2024               | df_2025               |
+---------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+
| Columns | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         | Vehicle_Model         |
|         | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L | Engine_Displacement_L |
|         | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      | Engine_Cylinders      |
|         | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     | Transmission_Type     |
|         | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 | Drive                 |
|         | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  | Fuel                  |
|         | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           | Cert_Region           |
|         | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  | Stnd                  |
|         | Underhood_Id          | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      | Stnd_Description      |
|         | Veh_Class             | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          | Underhood_Id          |
|         | Air_Pollution_Score   | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             | Veh_Class             |
|         | Fe_Calc_Appr          | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   | Air_Pollution_Score   |
|         | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              | City_Mpg              |
|         | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               | Hwy_Mpg               |
|         | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          | Combined_Mpg          |
|         | Unadj_Cmb_Mpg         | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  | Greenhouse_Gas_Score  |
|         | Greenhouse_Gas_Score  | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              | Smartway              |
|         | Smartway              |                       |                       |                       |                       | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          | Combined_Co2          |
+---------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+-----------------------+

Check if all dataset has same Features

In [137]:
# ANSI color codes
GREEN = "\033[92m"  # Green for "YES"
RED = "\033[91m"    # Red for "NO"
RESET = "\033[0m"   # Reset color

right = f"{GREEN}YES{RESET}"
wrong = f"{RED}NO{RESET}"

all_columns = sorted(set(col for df in df_list for col in df.columns))

table = []
for col in all_columns:
	row = [col] + [right if col in df.columns else wrong for df in df_list]
	table.append(row)

headers = ["Column Name"] + [f"df_{i}" for i in range(len(df_list))]

print(tabulate.tabulate(table, headers=headers, tablefmt="grid",  colalign=("left",) + ("center",) * len(df_list)))

+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Column Name           |  df_0  |  df_1  |  df_2  |  df_3  |  df_4  |  df_5  |  df_6  |  df_7  |  df_8  |  df_9  |  df_10  |  df_11  |  df_12  |  df_13  |  df_14  |  df_15  |  df_16  |  df_17  |
+=======================+========+========+========+========+========+========+========+========+========+========+=========+=========+=========+=========+=========+=========+=========+=========+
| Air_Pollution_Score   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Cert_Region           |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| City_Mpg              |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Combined_Co2          |   NO   |   NO   |   NO   |   NO   |   NO   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Combined_Mpg          |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Drive                 |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Engine_Cylinders      |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Engine_Displacement_L |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Fe_Calc_Appr          |  YES   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO    |   NO    |   NO    |   NO    |   NO    |   NO    |   NO    |   NO    |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Fuel                  |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Greenhouse_Gas_Score  |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Hwy_Mpg               |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Smartway              |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Stnd                  |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Stnd_Description      |   NO   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Transmission_Type     |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Unadj_Cmb_Mpg         |  YES   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO   |   NO    |   NO    |   NO    |   NO    |   NO    |   NO    |   NO    |   NO    |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Underhood_Id          |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Veh_Class             |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+
| Vehicle_Model         |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |  YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |   YES   |
+-----------------------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+---------+---------+---------+---------+---------+---------+---------+---------+

In [138]:
for df in df_list:
  Useless_Features = [
    'Stnd',
    'Stnd_Description',
    'Fe_Calc_Appr',
    'Unadj_Cmb_Mpg',
    'Underhood_Id'
  ]
  df.drop(columns=[col for col in Useless_Features if col in df.columns], inplace=True)

print(create_table(task=get_info, header=['Dataset', 'Info'], table_design='grid'))

+---------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+
| Dataset | df_2008                                             | df_2009                                             | df_2010                                             | df_2011                                             | df_2012                                             | df_2013                                             | df_2014                                             | df_2015                                             | df_2016                                             | df_2017                                             | df_2018                                             | df_2019                                             | df_2020                                             | df_2021                                             | df_2022                                             | df_2023                                             | df_2024                                             | df_2025                                             |
+---------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+
| Info    | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               |
|         | RangeIndex: 2404 entries, 0 to 2403                 | RangeIndex: 2561 entries, 0 to 2560                 | RangeIndex: 2326 entries, 0 to 2325                 | RangeIndex: 2171 entries, 0 to 2170                 | RangeIndex: 2252 entries, 0 to 2251                 | RangeIndex: 2397 entries, 0 to 2396                 | RangeIndex: 2517 entries, 0 to 2516                 | RangeIndex: 2653 entries, 0 to 2652                 | RangeIndex: 2589 entries, 0 to 2588                 | RangeIndex: 2589 entries, 0 to 2588                 | RangeIndex: 2713 entries, 0 to 2712                 | RangeIndex: 2690 entries, 0 to 2689                 | RangeIndex: 2545 entries, 0 to 2544                 | RangeIndex: 2586 entries, 0 to 2585                 | RangeIndex: 2627 entries, 0 to 2626                 | RangeIndex: 2742 entries, 0 to 2741                 | RangeIndex: 2630 entries, 0 to 2629                 | RangeIndex: 2246 entries, 0 to 2245                 |
|         | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    |
|         |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |
|         | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   |
|         |  0   Vehicle_Model          2404 non-null   object  |  0   Vehicle_Model          2561 non-null   object  |  0   Vehicle_Model          2326 non-null   object  |  0   Vehicle_Model          2171 non-null   object  |  0   Vehicle_Model          2252 non-null   object  |  0   Vehicle_Model          2397 non-null   object  |  0   Vehicle_Model          2517 non-null   object  |  0   Vehicle_Model          2653 non-null   object  |  0   Vehicle_Model          2589 non-null   object  |  0   Vehicle_Model          2589 non-null   object  |  0   Vehicle_Model          2713 non-null   object  |  0   Vehicle_Model          2690 non-null   object  |  0   Vehicle_Model          2545 non-null   object  |  0   Vehicle_Model          2586 non-null   object  |  0   Vehicle_Model          2627 non-null   object  |  0   Vehicle_Model          2742 non-null   object  |  0   Vehicle_Model          2630 non-null   object  |  0   Vehicle_Model          2246 non-null   object  |
|         |  1   Engine_Displacement_L  2404 non-null   float64 |  1   Engine_Displacement_L  2561 non-null   float64 |  1   Engine_Displacement_L  2322 non-null   float64 |  1   Engine_Displacement_L  2165 non-null   float64 |  1   Engine_Displacement_L  2240 non-null   float64 |  1   Engine_Displacement_L  2372 non-null   float64 |  1   Engine_Displacement_L  2487 non-null   float64 |  1   Engine_Displacement_L  2621 non-null   float64 |  1   Engine_Displacement_L  2529 non-null   float64 |  1   Engine_Displacement_L  2527 non-null   float64 |  1   Engine_Displacement_L  2663 non-null   float64 |  1   Engine_Displacement_L  2610 non-null   float64 |  1   Engine_Displacement_L  2462 non-null   float64 |  1   Engine_Displacement_L  2465 non-null   float64 |  1   Engine_Displacement_L  2437 non-null   float64 |  1   Engine_Displacement_L  2355 non-null   float64 |  1   Engine_Displacement_L  2082 non-null   float64 |  1   Engine_Displacement_L  1667 non-null   float64 |
|         |  2   Engine_Cylinders       2205 non-null   object  |  2   Engine_Cylinders       2363 non-null   float64 |  2   Engine_Cylinders       2322 non-null   float64 |  2   Engine_Cylinders       2154 non-null   float64 |  2   Engine_Cylinders       2240 non-null   float64 |  2   Engine_Cylinders       2372 non-null   float64 |  2   Engine_Cylinders       2487 non-null   float64 |  2   Engine_Cylinders       2621 non-null   float64 |  2   Engine_Cylinders       2529 non-null   float64 |  2   Engine_Cylinders       2527 non-null   float64 |  2   Engine_Cylinders       2663 non-null   float64 |  2   Engine_Cylinders       2610 non-null   float64 |  2   Engine_Cylinders       2462 non-null   float64 |  2   Engine_Cylinders       2465 non-null   float64 |  2   Engine_Cylinders       2437 non-null   float64 |  2   Engine_Cylinders       2355 non-null   float64 |  2   Engine_Cylinders       2082 non-null   float64 |  2   Engine_Cylinders       1667 non-null   float64 |
|         |  3   Transmission_Type      2205 non-null   object  |  3   Transmission_Type      2561 non-null   object  |  3   Transmission_Type      2326 non-null   object  |  3   Transmission_Type      2171 non-null   object  |  3   Transmission_Type      2252 non-null   object  |  3   Transmission_Type      2397 non-null   object  |  3   Transmission_Type      2517 non-null   object  |  3   Transmission_Type      2653 non-null   object  |  3   Transmission_Type      2589 non-null   object  |  3   Transmission_Type      2589 non-null   object  |  3   Transmission_Type      2713 non-null   object  |  3   Transmission_Type      2690 non-null   object  |  3   Transmission_Type      2545 non-null   object  |  3   Transmission_Type      2586 non-null   object  |  3   Transmission_Type      2627 non-null   object  |  3   Transmission_Type      2742 non-null   object  |  3   Transmission_Type      2630 non-null   object  |  3   Transmission_Type      2246 non-null   object  |
|         |  4   Drive                  2311 non-null   object  |  4   Drive                  2561 non-null   object  |  4   Drive                  2326 non-null   object  |  4   Drive                  2171 non-null   object  |  4   Drive                  2252 non-null   object  |  4   Drive                  2397 non-null   object  |  4   Drive                  2517 non-null   object  |  4   Drive                  2653 non-null   object  |  4   Drive                  2589 non-null   object  |  4   Drive                  2589 non-null   object  |  4   Drive                  2713 non-null   object  |  4   Drive                  2690 non-null   object  |  4   Drive                  2545 non-null   object  |  4   Drive                  2586 non-null   object  |  4   Drive                  2627 non-null   object  |  4   Drive                  2742 non-null   object  |  4   Drive                  2630 non-null   object  |  4   Drive                  2246 non-null   object  |
|         |  5   Fuel                   2404 non-null   object  |  5   Fuel                   2561 non-null   object  |  5   Fuel                   2326 non-null   object  |  5   Fuel                   2171 non-null   object  |  5   Fuel                   2252 non-null   object  |  5   Fuel                   2397 non-null   object  |  5   Fuel                   2517 non-null   object  |  5   Fuel                   2653 non-null   object  |  5   Fuel                   2589 non-null   object  |  5   Fuel                   2589 non-null   object  |  5   Fuel                   2713 non-null   object  |  5   Fuel                   2690 non-null   object  |  5   Fuel                   2545 non-null   object  |  5   Fuel                   2586 non-null   object  |  5   Fuel                   2627 non-null   object  |  5   Fuel                   2742 non-null   object  |  5   Fuel                   2630 non-null   object  |  5   Fuel                   2246 non-null   object  |
|         |  6   Cert_Region            2404 non-null   object  |  6   Cert_Region            2561 non-null   object  |  6   Cert_Region            2326 non-null   object  |  6   Cert_Region            2171 non-null   object  |  6   Cert_Region            2252 non-null   object  |  6   Cert_Region            2397 non-null   object  |  6   Cert_Region            2517 non-null   object  |  6   Cert_Region            2653 non-null   object  |  6   Cert_Region            2589 non-null   object  |  6   Cert_Region            2589 non-null   object  |  6   Cert_Region            2713 non-null   object  |  6   Cert_Region            2690 non-null   object  |  6   Cert_Region            2545 non-null   object  |  6   Cert_Region            2586 non-null   object  |  6   Cert_Region            2627 non-null   object  |  6   Cert_Region            2742 non-null   object  |  6   Cert_Region            2630 non-null   object  |  6   Cert_Region            2246 non-null   object  |
|         |  7   Veh_Class              2404 non-null   object  |  7   Veh_Class              2561 non-null   object  |  7   Veh_Class              2326 non-null   object  |  7   Veh_Class              2171 non-null   object  |  7   Veh_Class              2252 non-null   object  |  7   Veh_Class              2397 non-null   object  |  7   Veh_Class              2517 non-null   object  |  7   Veh_Class              2653 non-null   object  |  7   Veh_Class              2589 non-null   object  |  7   Veh_Class              2589 non-null   object  |  7   Veh_Class              2713 non-null   object  |  7   Veh_Class              2690 non-null   object  |  7   Veh_Class              2545 non-null   object  |  7   Veh_Class              2586 non-null   object  |  7   Veh_Class              2627 non-null   object  |  7   Veh_Class              2742 non-null   object  |  7   Veh_Class              2630 non-null   object  |  7   Veh_Class              2246 non-null   object  |
|         |  8   Air_Pollution_Score    2404 non-null   object  |  8   Air_Pollution_Score    2561 non-null   object  |  8   Air_Pollution_Score    2326 non-null   object  |  8   Air_Pollution_Score    2171 non-null   object  |  8   Air_Pollution_Score    2252 non-null   object  |  8   Air_Pollution_Score    2397 non-null   object  |  8   Air_Pollution_Score    2517 non-null   object  |  8   Air_Pollution_Score    2653 non-null   object  |  8   Air_Pollution_Score    2589 non-null   object  |  8   Air_Pollution_Score    2589 non-null   int64   |  8   Air_Pollution_Score    2713 non-null   int64   |  8   Air_Pollution_Score    2690 non-null   int64   |  8   Air_Pollution_Score    2545 non-null   int64   |  8   Air_Pollution_Score    2586 non-null   int64   |  8   Air_Pollution_Score    2627 non-null   int64   |  8   Air_Pollution_Score    2742 non-null   int64   |  8   Air_Pollution_Score    2630 non-null   int64   |  8   Air_Pollution_Score    2246 non-null   int64   |
|         |  9   City_Mpg               2205 non-null   object  |  9   City_Mpg               2363 non-null   object  |  9   City_Mpg               2155 non-null   object  |  9   City_Mpg               2028 non-null   object  |  9   City_Mpg               2107 non-null   object  |  9   City_Mpg               2230 non-null   object  |  9   City_Mpg               2320 non-null   object  |  9   City_Mpg               2385 non-null   object  |  9   City_Mpg               2589 non-null   object  |  9   City_Mpg               2589 non-null   object  |  9   City_Mpg               2713 non-null   object  |  9   City_Mpg               2690 non-null   object  |  9   City_Mpg               2545 non-null   object  |  9   City_Mpg               2586 non-null   object  |  9   City_Mpg               2627 non-null   object  |  9   City_Mpg               2742 non-null   object  |  9   City_Mpg               2630 non-null   object  |  9   City_Mpg               2246 non-null   object  |
|         |  10  Hwy_Mpg                2205 non-null   object  |  10  Hwy_Mpg                2363 non-null   object  |  10  Hwy_Mpg                2155 non-null   object  |  10  Hwy_Mpg                2028 non-null   object  |  10  Hwy_Mpg                2107 non-null   object  |  10  Hwy_Mpg                2230 non-null   object  |  10  Hwy_Mpg                2320 non-null   object  |  10  Hwy_Mpg                2385 non-null   object  |  10  Hwy_Mpg                2589 non-null   object  |  10  Hwy_Mpg                2589 non-null   object  |  10  Hwy_Mpg                2713 non-null   object  |  10  Hwy_Mpg                2690 non-null   object  |  10  Hwy_Mpg                2545 non-null   object  |  10  Hwy_Mpg                2586 non-null   object  |  10  Hwy_Mpg                2627 non-null   object  |  10  Hwy_Mpg                2742 non-null   object  |  10  Hwy_Mpg                2630 non-null   object  |  10  Hwy_Mpg                2246 non-null   object  |
|         |  11  Combined_Mpg           2205 non-null   object  |  11  Combined_Mpg           2363 non-null   object  |  11  Combined_Mpg           2155 non-null   object  |  11  Combined_Mpg           2028 non-null   object  |  11  Combined_Mpg           2107 non-null   object  |  11  Combined_Mpg           2230 non-null   object  |  11  Combined_Mpg           2320 non-null   object  |  11  Combined_Mpg           2385 non-null   object  |  11  Combined_Mpg           2589 non-null   object  |  11  Combined_Mpg           2589 non-null   object  |  11  Combined_Mpg           2713 non-null   object  |  11  Combined_Mpg           2690 non-null   object  |  11  Combined_Mpg           2545 non-null   object  |  11  Combined_Mpg           2586 non-null   object  |  11  Combined_Mpg           2627 non-null   object  |  11  Combined_Mpg           2742 non-null   object  |  11  Combined_Mpg           2630 non-null   object  |  11  Combined_Mpg           2246 non-null   object  |

Drop Missing Value

In [139]:
for data in df_list:
  data.dropna(inplace=True)

print(create_table(task=get_total_null, header=['Dataset', 'Number of Missing Value'], table_design='grid'))

+-------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset                 | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+-------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Missing Value | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       |
+-------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

Remove Duplicate Data

In [140]:
for data in df_list:
  data.drop_duplicates(inplace=True)

print(create_table(task=get_duplicate, header=['Dataset', 'Number of Duplicate'], table_design='grid'))

+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset             | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Duplicate | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       |
+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

#### Handling Data Inconsistencies

Handling Features with Hybrid Value

In [141]:
hybrid = pd.DataFrame()
for data in df_list:
  all_hybrid = data[data['Fuel'].str.contains('/')]
  hybrid = pd.concat([hybrid, all_hybrid], axis=0)

hybrid

,Vehicle_Model,Engine_Displacement_L,Engine_Cylinders,Transmission_Type,Drive,Fuel,Cert_Region,Veh_Class,Air_Pollution_Score,City_Mpg,Hwy_Mpg,Combined_Mpg,Greenhouse_Gas_Score,Smartway,Combined_Co2
316,CHEVROLET Avalanche 1500,5.3,(8 cyl),Auto-L4,2WD,ethanol/gas,FC,SUV,7/7,11/14,15/20,12/16,6/4,no,NaN
317,CHEVROLET Avalanche 1500,5.3,(8 cyl),Auto-L4,4WD,ethanol/gas,FC,SUV,7/7,11/14,14/19,12/16,6/4,no,NaN
321,CHEVROLET Avalanche 1500,5.3,(8 cyl),Auto-L4,2WD,ethanol/gas,FC,SUV,6/6,11/14,15/20,12/16,6/4,no,NaN
322,CHEVROLET Avalanche 1500,5.3,(8 cyl),Auto-L4,4WD,ethanol/gas,FC,SUV,6/6,11/14,14/19,12/16,6/4,no,NaN
380,CHEVROLET Express 1500,5.3,(8 cyl),Auto-L4,4WD,ethanol/gas,FC,van,6/6,9/12,12/16,10/14,4/2,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2229,VOLVO V60 T8,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,station wagon,6,30/74,33/73,31/74,9,Yes,99
2238,VOLVO XC60 T8,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,small SUV,6,28/66,28/60,28/63,9,Yes,122
2239,VOLVO XC60 T8,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,small SUV,6,28/66,28/60,28/63,9,Yes,122
2244,VOLVO XC90 T8,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,standard SUV,6,26/59,27/57,27/58,8,Yes,137
2245,VOLVO XC90 T8,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,FA,standard SUV,6,26/59,27/57,27/58,8,Yes,137

Split(value/value) => (value, value)

In [142]:
def spliter(data: pd.DataFrame, list_two_value_feature: list):
  df_1 = data.copy()
  df_2 = data.copy()

  for features in list_two_value_feature:
    df_1[features] = df_1[features].astype(str).apply(lambda x: x.split('/')[0])
    df_2[features] = df_2[features].astype(str).apply(lambda x: x.split("/")[1] if "/" in x else x)

  return df_1, df_2

In [143]:
list_two_value_features = ['Fuel', 'Air_Pollution_Score', 'City_Mpg', 'Hwy_Mpg', 'Combined_Mpg', 'Greenhouse_Gas_Score']
Extra = 'Combined_Co2'

for i, data in enumerate(df_list):
  selected_data = data[data['Fuel'].astype(str).str.contains('/')]

  if selected_data.empty:
    continue

  # Dynamically add 'Combined_Co2' only if it exists in the current dataframe
  features_to_split = list_two_value_features.copy()
  if Extra in selected_data.columns:
    features_to_split.append(Extra)

  new_df_1, new_df_2 = spliter(selected_data, list_two_value_feature=features_to_split)

  data.drop(selected_data.index, inplace=True)
  df_list[i] = pd.concat([data, new_df_1, new_df_2], ignore_index=True)

In [144]:
hybrid = pd.DataFrame()
for data in df_list:
	all_hybrid = data[data['Fuel'].str.contains('/')]
	hybrid = pd.concat([hybrid, all_hybrid], axis=0)
	
hybrid

Empty DataFrame
Columns: [Vehicle_Model, Engine_Displacement_L, Engine_Cylinders, Transmission_Type, Drive, Fuel, Cert_Region, Veh_Class, Air_Pollution_Score, City_Mpg, Hwy_Mpg, Combined_Mpg, Greenhouse_Gas_Score, Smartway, Combined_Co2]
Index: []

In [145]:
print(create_table(task=get_duplicate, header=["Dataset", "Number of Duplicate"], table_design="grid"))

+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset             | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Duplicate | 0       | 0       | 4       | 9       | 4       | 0       | 2       | 0       | 0       | 0       | 2       | 2       | 0       | 0       | 0       | 0       | 0       | 0       |
+---------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [146]:
for data in df_list:
  data.drop_duplicates(inplace=True)

print(create_table(task=get_duplicate, header=["dataset", "Number of Duplicate Values"], table_design="grid"))

+----------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| dataset                    | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+----------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Duplicate Values | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       |
+----------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

Handling Fuel Data Inconsistencies

In [147]:
def get_fuel(data: pd.DataFrame):
  Fuel_count = data['Fuel'].value_counts()
  returner = ''
  for fuel, value in Fuel_count.items():
    returner += f'{fuel:<20}{value:>10}\n'
  return returner

def get_smartway(data: pd.DataFrame):
	Count = data['Smartway'].value_counts()
	returner = ''
	for value, count in Count.items():
		returner += f'{value:<10}{count:>10}\n'
	return returner


print(create_table(task=get_fuel, header=['Dataset', 'Fuel'], table_design='grid'))
print(create_table(task=get_smartway, header=['Dataset', 'Smartway'], table_design='grid'))

+---------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
| Dataset | df_2008                        | df_2009                        | df_2010                        | df_2011                        | df_2012                        | df_2013                        | df_2014                        | df_2015                        | df_2016                        | df_2017                        | df_2018                        | df_2019                        | df_2020                        | df_2021                        | df_2022                        | df_2023                        | df_2024                        | df_2025                        |
+---------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
| Fuel    | Gasoline                  2067 | Gasoline                  2148 | Gasoline                  1954 | Gasoline                  1787 | Gasoline                  1812 | Gasoline                  1943 | Gasoline                  2019 | Gasoline                  2139 | Gasoline                  2323 | Gasoline                  2358 | Gasoline                  2482 | Gasoline                  2452 | Gasoline                  2358 | Gasoline                  2359 | Gasoline                  2332 | Gasoline                  2266 | Gasoline                  2015 | Gasoline                  1625 |
|         | ethanol                     66 | gas                        127 | Ethanol                    103 | Gas                        144 | Gas                        180 | Gas                        191 | Ethanol                    188 | Ethanol                    122 | Ethanol                    130 | Ethanol                    115 | Gas                         94 | Gas                         73 | Electricity                 86 | Electricity                100 | Electricity                 92 | Electricity                104 | Electricity                108 | Electricity                122 |
|         | gas                         65 | ethanol                    127 | Gas                        101 | Ethanol                    139 | Ethanol                    176 | Ethanol                    191 | Gas                        186 | Gas                        122 | Gas                        130 | Gas                        114 | Ethanol                     92 | Ethanol                     71 | Ethanol                     48 | Diesel                      60 | Diesel                      58 | Diesel                      44 | Diesel                      40 | Diesel                      20 |
|         | diesel                       7 | diesel                      12 | Diesel                      22 | Diesel                      23 | Diesel                      22 | Diesel                      33 | Diesel                      57 | Diesel                      72 | Diesel                      52 | Electricity                 40 | Diesel                      74 | Electricity                 64 | Gas                         48 | Ethanol                     30 | Ethanol                     34 | Ethanol                     34 | Ethanol                     14 | Ethanol                     16 |
|         | CNG                          2 | CNG                          2 | CNG                          2 | CNG                          4 | Electricity                  5 | Electricity                  8 | Electricity                 20 | Electricity                 26 | Electricity                 38 | Diesel                      38 | Electricity                 70 | Diesel                      58 | Diesel                      40 | Gas                         30 | Gas                         34 | Gas                         34 | Gas                         14 | Gas                         16 |
|         |                                | Ethanol                      1 |                                | Electricity                  1 | CNG                          4 | CNG                          4 | CNG                          4 | CNG                          4 |                                |                                |                                |                                |                                |                                |                                |                                |                                | Hydrogen                     2 |
|         |                                | Gas                          1 |                                |                                |                                | Electricty                   1 |                                |                                |                                |                                |                                |                                |                                |                                |                                |                                |                                |                                |
+---------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
+----------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Dataset  | df_2008              | df_2009              | df_2010              | df_2011              | df_2012              | df_2013              | df_2014              | df_2015              | df_2016              | df_2017              | df_2018              | df_2019              | df_2020              | df_2021              | df_2022              | df_2023              | df_2024              | df_2025              |
+----------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Smartway | no              1582 | no              1798 | no              1465 | no              1759 | no              1762 | No              1862 | No              1867 | No              1968 | No              2170 | No              2181 | No              2380 | No              2282 | No              2194 | No              2277 | No              2234 | No              2246 | No              2029 | No              1651 |
|          | yes              625 | yes              620 | yes              717 | yes              339 | yes              435 | Yes              492 | Yes              591 | Yes              504 | Yes              489 | Yes              463 | Yes              340 | Yes              340 | Yes              270 | Yes              298 | Yes              316 | Yes              236 | Yes              162 | Yes              146 |
|          |                      |                      |                      |                      | Elite              2 | Elite             16 | Elite             15 | Elite             13 | Elite             14 | Elite             21 | Elite             92 | Elite             96 | Elite            116 | Elite              4 |                      |                      |                      | Elite              4 |
|          |                      |                      |                      |                      |                      | yes                1 | yes                1 |                      |                      |                      |                      |                      |                      |                      |                      |                      |                      |                      |
+----------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

In [148]:
fuel_mapping = {
  "gasoline": "Gasoline",
  "ethanol": "Ethanol",
  "gas": "Gas",
  "diesel": "Diesel",
  "cng": "CNG",
  'electricity': "Electricity",
  "electricty": "Electricity",
  "hydrogen": "Hydrogen"
}


def rename_data(data):
  data['Fuel'] = data['Fuel'].str.lower().map(fuel_mapping)
  data['Smartway'] = data['Smartway'].apply(lambda x: x.capitalize())
  return data

for data in df_list:
  data = rename_data(data)

print(create_table(task=get_fuel, header=['Dataset', 'Fuel'], table_design='grid'))
print(create_table(task=get_smartway, header=['Dataset', 'Smartway'], table_design='grid'))
print(create_table(task=get_total_null, header=['Dataset', 'Number of Missing Value'], table_design='grid'))

+---------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
| Dataset | df_2008                        | df_2009                        | df_2010                        | df_2011                        | df_2012                        | df_2013                        | df_2014                        | df_2015                        | df_2016                        | df_2017                        | df_2018                        | df_2019                        | df_2020                        | df_2021                        | df_2022                        | df_2023                        | df_2024                        | df_2025                        |
+---------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
| Fuel    | Gasoline                  2067 | Gasoline                  2148 | Gasoline                  1954 | Gasoline                  1787 | Gasoline                  1812 | Gasoline                  1943 | Gasoline                  2019 | Gasoline                  2139 | Gasoline                  2323 | Gasoline                  2358 | Gasoline                  2482 | Gasoline                  2452 | Gasoline                  2358 | Gasoline                  2359 | Gasoline                  2332 | Gasoline                  2266 | Gasoline                  2015 | Gasoline                  1625 |
|         | Ethanol                     66 | Gas                        128 | Ethanol                    103 | Gas                        144 | Gas                        180 | Ethanol                    191 | Ethanol                    188 | Ethanol                    122 | Ethanol                    130 | Ethanol                    115 | Gas                         94 | Gas                         73 | Electricity                 86 | Electricity                100 | Electricity                 92 | Electricity                104 | Electricity                108 | Electricity                122 |
|         | Gas                         65 | Ethanol                    128 | Gas                        101 | Ethanol                    139 | Ethanol                    176 | Gas                        191 | Gas                        186 | Gas                        122 | Gas                        130 | Gas                        114 | Ethanol                     92 | Ethanol                     71 | Ethanol                     48 | Diesel                      60 | Diesel                      58 | Diesel                      44 | Diesel                      40 | Diesel                      20 |
|         | Diesel                       7 | Diesel                      12 | Diesel                      22 | Diesel                      23 | Diesel                      22 | Diesel                      33 | Diesel                      57 | Diesel                      72 | Diesel                      52 | Electricity                 40 | Diesel                      74 | Electricity                 64 | Gas                         48 | Ethanol                     30 | Ethanol                     34 | Ethanol                     34 | Ethanol                     14 | Ethanol                     16 |
|         | CNG                          2 | CNG                          2 | CNG                          2 | CNG                          4 | Electricity                  5 | Electricity                  9 | Electricity                 20 | Electricity                 26 | Electricity                 38 | Diesel                      38 | Electricity                 70 | Diesel                      58 | Diesel                      40 | Gas                         30 | Gas                         34 | Gas                         34 | Gas                         14 | Gas                         16 |
|         |                                |                                |                                | Electricity                  1 | CNG                          4 | CNG                          4 | CNG                          4 | CNG                          4 |                                |                                |                                |                                |                                |                                |                                |                                |                                | Hydrogen                     2 |
+---------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+--------------------------------+
+----------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Dataset  | df_2008              | df_2009              | df_2010              | df_2011              | df_2012              | df_2013              | df_2014              | df_2015              | df_2016              | df_2017              | df_2018              | df_2019              | df_2020              | df_2021              | df_2022              | df_2023              | df_2024              | df_2025              |
+----------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Smartway | No              1582 | No              1798 | No              1465 | No              1759 | No              1762 | No              1862 | No              1867 | No              1968 | No              2170 | No              2181 | No              2380 | No              2282 | No              2194 | No              2277 | No              2234 | No              2246 | No              2029 | No              1651 |
|          | Yes              625 | Yes              620 | Yes              717 | Yes              339 | Yes              435 | Yes              493 | Yes              592 | Yes              504 | Yes              489 | Yes              463 | Yes              340 | Yes              340 | Yes              270 | Yes              298 | Yes              316 | Yes              236 | Yes              162 | Yes              146 |
|          |                      |                      |                      |                      | Elite              2 | Elite             16 | Elite             15 | Elite             13 | Elite             14 | Elite             21 | Elite             92 | Elite             96 | Elite            116 | Elite              4 |                      |                      |                      | Elite              4 |
+----------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
+-------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset                 | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+-------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Number of Missing Value | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       |
+-------------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [149]:
print(create_table(task=get_info, header=['Dataset', 'Info'], table_design='grid'))

+---------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+
| Dataset | df_2008                                             | df_2009                                             | df_2010                                             | df_2011                                             | df_2012                                             | df_2013                                             | df_2014                                             | df_2015                                             | df_2016                                             | df_2017                                             | df_2018                                             | df_2019                                             | df_2020                                             | df_2021                                             | df_2022                                             | df_2023                                             | df_2024                                             | df_2025                                             |
+---------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+
| Info    | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               |
|         | RangeIndex: 2207 entries, 0 to 2206                 | RangeIndex: 2418 entries, 0 to 2417                 | Index: 2182 entries, 0 to 2185                      | Index: 2098 entries, 0 to 2106                      | Index: 2199 entries, 0 to 2202                      | RangeIndex: 2371 entries, 0 to 2370                 | Index: 2474 entries, 0 to 2475                      | RangeIndex: 2485 entries, 0 to 2484                 | RangeIndex: 2673 entries, 0 to 2672                 | RangeIndex: 2665 entries, 0 to 2664                 | Index: 2812 entries, 0 to 2813                      | Index: 2718 entries, 0 to 2719                      | RangeIndex: 2580 entries, 0 to 2579                 | RangeIndex: 2579 entries, 0 to 2578                 | RangeIndex: 2550 entries, 0 to 2549                 | RangeIndex: 2482 entries, 0 to 2481                 | RangeIndex: 2191 entries, 0 to 2190                 | RangeIndex: 1801 entries, 0 to 1800                 |
|         | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 14 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    |
|         |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |
|         | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   |
|         |  0   Vehicle_Model          2207 non-null   object  |  0   Vehicle_Model          2418 non-null   object  |  0   Vehicle_Model          2182 non-null   object  |  0   Vehicle_Model          2098 non-null   object  |  0   Vehicle_Model          2199 non-null   object  |  0   Vehicle_Model          2371 non-null   object  |  0   Vehicle_Model          2474 non-null   object  |  0   Vehicle_Model          2485 non-null   object  |  0   Vehicle_Model          2673 non-null   object  |  0   Vehicle_Model          2665 non-null   object  |  0   Vehicle_Model          2812 non-null   object  |  0   Vehicle_Model          2718 non-null   object  |  0   Vehicle_Model          2580 non-null   object  |  0   Vehicle_Model          2579 non-null   object  |  0   Vehicle_Model          2550 non-null   object  |  0   Vehicle_Model          2482 non-null   object  |  0   Vehicle_Model          2191 non-null   object  |  0   Vehicle_Model          1801 non-null   object  |
|         |  1   Engine_Displacement_L  2207 non-null   float64 |  1   Engine_Displacement_L  2418 non-null   float64 |  1   Engine_Displacement_L  2182 non-null   float64 |  1   Engine_Displacement_L  2098 non-null   float64 |  1   Engine_Displacement_L  2199 non-null   float64 |  1   Engine_Displacement_L  2371 non-null   float64 |  1   Engine_Displacement_L  2474 non-null   float64 |  1   Engine_Displacement_L  2485 non-null   float64 |  1   Engine_Displacement_L  2673 non-null   float64 |  1   Engine_Displacement_L  2665 non-null   float64 |  1   Engine_Displacement_L  2812 non-null   float64 |  1   Engine_Displacement_L  2718 non-null   float64 |  1   Engine_Displacement_L  2580 non-null   float64 |  1   Engine_Displacement_L  2579 non-null   float64 |  1   Engine_Displacement_L  2550 non-null   float64 |  1   Engine_Displacement_L  2482 non-null   float64 |  1   Engine_Displacement_L  2191 non-null   float64 |  1   Engine_Displacement_L  1801 non-null   float64 |
|         |  2   Engine_Cylinders       2207 non-null   object  |  2   Engine_Cylinders       2418 non-null   float64 |  2   Engine_Cylinders       2182 non-null   float64 |  2   Engine_Cylinders       2098 non-null   float64 |  2   Engine_Cylinders       2199 non-null   float64 |  2   Engine_Cylinders       2371 non-null   float64 |  2   Engine_Cylinders       2474 non-null   float64 |  2   Engine_Cylinders       2485 non-null   float64 |  2   Engine_Cylinders       2673 non-null   float64 |  2   Engine_Cylinders       2665 non-null   float64 |  2   Engine_Cylinders       2812 non-null   float64 |  2   Engine_Cylinders       2718 non-null   float64 |  2   Engine_Cylinders       2580 non-null   float64 |  2   Engine_Cylinders       2579 non-null   float64 |  2   Engine_Cylinders       2550 non-null   float64 |  2   Engine_Cylinders       2482 non-null   float64 |  2   Engine_Cylinders       2191 non-null   float64 |  2   Engine_Cylinders       1801 non-null   float64 |
|         |  3   Transmission_Type      2207 non-null   object  |  3   Transmission_Type      2418 non-null   object  |  3   Transmission_Type      2182 non-null   object  |  3   Transmission_Type      2098 non-null   object  |  3   Transmission_Type      2199 non-null   object  |  3   Transmission_Type      2371 non-null   object  |  3   Transmission_Type      2474 non-null   object  |  3   Transmission_Type      2485 non-null   object  |  3   Transmission_Type      2673 non-null   object  |  3   Transmission_Type      2665 non-null   object  |  3   Transmission_Type      2812 non-null   object  |  3   Transmission_Type      2718 non-null   object  |  3   Transmission_Type      2580 non-null   object  |  3   Transmission_Type      2579 non-null   object  |  3   Transmission_Type      2550 non-null   object  |  3   Transmission_Type      2482 non-null   object  |  3   Transmission_Type      2191 non-null   object  |  3   Transmission_Type      1801 non-null   object  |
|         |  4   Drive                  2207 non-null   object  |  4   Drive                  2418 non-null   object  |  4   Drive                  2182 non-null   object  |  4   Drive                  2098 non-null   object  |  4   Drive                  2199 non-null   object  |  4   Drive                  2371 non-null   object  |  4   Drive                  2474 non-null   object  |  4   Drive                  2485 non-null   object  |  4   Drive                  2673 non-null   object  |  4   Drive                  2665 non-null   object  |  4   Drive                  2812 non-null   object  |  4   Drive                  2718 non-null   object  |  4   Drive                  2580 non-null   object  |  4   Drive                  2579 non-null   object  |  4   Drive                  2550 non-null   object  |  4   Drive                  2482 non-null   object  |  4   Drive                  2191 non-null   object  |  4   Drive                  1801 non-null   object  |
|         |  5   Fuel                   2207 non-null   object  |  5   Fuel                   2418 non-null   object  |  5   Fuel                   2182 non-null   object  |  5   Fuel                   2098 non-null   object  |  5   Fuel                   2199 non-null   object  |  5   Fuel                   2371 non-null   object  |  5   Fuel                   2474 non-null   object  |  5   Fuel                   2485 non-null   object  |  5   Fuel                   2673 non-null   object  |  5   Fuel                   2665 non-null   object  |  5   Fuel                   2812 non-null   object  |  5   Fuel                   2718 non-null   object  |  5   Fuel                   2580 non-null   object  |  5   Fuel                   2579 non-null   object  |  5   Fuel                   2550 non-null   object  |  5   Fuel                   2482 non-null   object  |  5   Fuel                   2191 non-null   object  |  5   Fuel                   1801 non-null   object  |
|         |  6   Cert_Region            2207 non-null   object  |  6   Cert_Region            2418 non-null   object  |  6   Cert_Region            2182 non-null   object  |  6   Cert_Region            2098 non-null   object  |  6   Cert_Region            2199 non-null   object  |  6   Cert_Region            2371 non-null   object  |  6   Cert_Region            2474 non-null   object  |  6   Cert_Region            2485 non-null   object  |  6   Cert_Region            2673 non-null   object  |  6   Cert_Region            2665 non-null   object  |  6   Cert_Region            2812 non-null   object  |  6   Cert_Region            2718 non-null   object  |  6   Cert_Region            2580 non-null   object  |  6   Cert_Region            2579 non-null   object  |  6   Cert_Region            2550 non-null   object  |  6   Cert_Region            2482 non-null   object  |  6   Cert_Region            2191 non-null   object  |  6   Cert_Region            1801 non-null   object  |
|         |  7   Veh_Class              2207 non-null   object  |  7   Veh_Class              2418 non-null   object  |  7   Veh_Class              2182 non-null   object  |  7   Veh_Class              2098 non-null   object  |  7   Veh_Class              2199 non-null   object  |  7   Veh_Class              2371 non-null   object  |  7   Veh_Class              2474 non-null   object  |  7   Veh_Class              2485 non-null   object  |  7   Veh_Class              2673 non-null   object  |  7   Veh_Class              2665 non-null   object  |  7   Veh_Class              2812 non-null   object  |  7   Veh_Class              2718 non-null   object  |  7   Veh_Class              2580 non-null   object  |  7   Veh_Class              2579 non-null   object  |  7   Veh_Class              2550 non-null   object  |  7   Veh_Class              2482 non-null   object  |  7   Veh_Class              2191 non-null   object  |  7   Veh_Class              1801 non-null   object  |
|         |  8   Air_Pollution_Score    2207 non-null   object  |  8   Air_Pollution_Score    2418 non-null   object  |  8   Air_Pollution_Score    2182 non-null   object  |  8   Air_Pollution_Score    2098 non-null   object  |  8   Air_Pollution_Score    2199 non-null   object  |  8   Air_Pollution_Score    2371 non-null   object  |  8   Air_Pollution_Score    2474 non-null   object  |  8   Air_Pollution_Score    2485 non-null   object  |  8   Air_Pollution_Score    2673 non-null   object  |  8   Air_Pollution_Score    2665 non-null   object  |  8   Air_Pollution_Score    2812 non-null   object  |  8   Air_Pollution_Score    2718 non-null   object  |  8   Air_Pollution_Score    2580 non-null   object  |  8   Air_Pollution_Score    2579 non-null   object  |  8   Air_Pollution_Score    2550 non-null   object  |  8   Air_Pollution_Score    2482 non-null   object  |  8   Air_Pollution_Score    2191 non-null   object  |  8   Air_Pollution_Score    1801 non-null   object  |
|         |  9   City_Mpg               2207 non-null   object  |  9   City_Mpg               2418 non-null   object  |  9   City_Mpg               2182 non-null   object  |  9   City_Mpg               2098 non-null   object  |  9   City_Mpg               2199 non-null   object  |  9   City_Mpg               2371 non-null   object  |  9   City_Mpg               2474 non-null   object  |  9   City_Mpg               2485 non-null   object  |  9   City_Mpg               2673 non-null   object  |  9   City_Mpg               2665 non-null   object  |  9   City_Mpg               2812 non-null   object  |  9   City_Mpg               2718 non-null   object  |  9   City_Mpg               2580 non-null   object  |  9   City_Mpg               2579 non-null   object  |  9   City_Mpg               2550 non-null   object  |  9   City_Mpg               2482 non-null   object  |  9   City_Mpg               2191 non-null   object  |  9   City_Mpg               1801 non-null   object  |
|         |  10  Hwy_Mpg                2207 non-null   object  |  10  Hwy_Mpg                2418 non-null   object  |  10  Hwy_Mpg                2182 non-null   object  |  10  Hwy_Mpg                2098 non-null   object  |  10  Hwy_Mpg                2199 non-null   object  |  10  Hwy_Mpg                2371 non-null   object  |  10  Hwy_Mpg                2474 non-null   object  |  10  Hwy_Mpg                2485 non-null   object  |  10  Hwy_Mpg                2673 non-null   object  |  10  Hwy_Mpg                2665 non-null   object  |  10  Hwy_Mpg                2812 non-null   object  |  10  Hwy_Mpg                2718 non-null   object  |  10  Hwy_Mpg                2580 non-null   object  |  10  Hwy_Mpg                2579 non-null   object  |  10  Hwy_Mpg                2550 non-null   object  |  10  Hwy_Mpg                2482 non-null   object  |  10  Hwy_Mpg                2191 non-null   object  |  10  Hwy_Mpg                1801 non-null   object  |
|         |  11  Combined_Mpg           2207 non-null   object  |  11  Combined_Mpg           2418 non-null   object  |  11  Combined_Mpg           2182 non-null   object  |  11  Combined_Mpg           2098 non-null   object  |  11  Combined_Mpg           2199 non-null   object  |  11  Combined_Mpg           2371 non-null   object  |  11  Combined_Mpg           2474 non-null   object  |  11  Combined_Mpg           2485 non-null   object  |  11  Combined_Mpg           2673 non-null   object  |  11  Combined_Mpg           2665 non-null   object  |  11  Combined_Mpg           2812 non-null   object  |  11  Combined_Mpg           2718 non-null   object  |  11  Combined_Mpg           2580 non-null   object  |  11  Combined_Mpg           2579 non-null   object  |  11  Combined_Mpg           2550 non-null   object  |  11  Combined_Mpg           2482 non-null   object  |  11  Combined_Mpg           2191 non-null   object  |  11  Combined_Mpg           1801 non-null   object  |

Fix Engine Cylinder

In [150]:
def get_engine_cylinders(data: pd.DataFrame):
  Count = data['Engine_Cylinders'].value_counts()
  returner = ''
  for value, count in Count.items():
    returner += f'{value:<10}{count:>10}\n'
  return returner

print(create_table(task=get_engine_cylinders, header=["Dataset", "Engine Cylinders"], table_design="grid"))

+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Dataset          | df_2008              | df_2009              | df_2010              | df_2011              | df_2012              | df_2013              | df_2014              | df_2015              | df_2016              | df_2017              | df_2018              | df_2019              | df_2020              | df_2021              | df_2022              | df_2023              | df_2024              | df_2025              |
+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Engine Cylinders | (6 cyl)          845 | 6.0              830 | 6.0              782 | 6.0              786 | 4.0              799 | 4.0              955 | 4.0              993 | 4.0             1065 | 4.0             1216 | 4.0             1225 | 4.0             1285 | 4.0             1258 | 4.0             1166 | 4.0             1125 | 4.0             1133 | 4.0             1052 | 4.0             1006 | 4.0              908 |
|                  | (4 cyl)          582 | 4.0              743 | 4.0              768 | 4.0              719 | 6.0              745 | 6.0              740 | 6.0              810 | 6.0              842 | 6.0              902 | 6.0              848 | 6.0              916 | 6.0              884 | 6.0              789 | 6.0              758 | 6.0              800 | 6.0              835 | 6.0              699 | 6.0              484 |
|                  | (8 cyl)          572 | 8.0              653 | 8.0              454 | 8.0              477 | 8.0              513 | 8.0              549 | 8.0              540 | 8.0              471 | 8.0              452 | 8.0              447 | 8.0              484 | 8.0              466 | 8.0              506 | 8.0              552 | 8.0              499 | 8.0              470 | 8.0              394 | 8.0              329 |
|                  | (5 cyl)          113 | 5.0              106 | 5.0               76 | 12.0              48 | 12.0              68 | 12.0              64 | 12.0              62 | 12.0              60 | 12.0              65 | 12.0              73 | 12.0              53 | 3.0               48 | 12.0              47 | 3.0               68 | 3.0               54 | 3.0               56 | 3.0               46 | 3.0               48 |
|                  | (12 cyl)          60 | 12.0              52 | 12.0              62 | 5.0               38 | 5.0               48 | 5.0               45 | 5.0               27 | 3.0               21 | 3.0               14 | 3.0               52 | 3.0               44 | 12.0              40 | 3.0               44 | 12.0              46 | 12.0              38 | 12.0              43 | 12.0              36 | 12.0              26 |
|                  | (10 cyl)          29 | 10.0              26 | 10.0              30 | 10.0              20 | 10.0              20 | 10.0              12 | 10.0              20 | 10.0              12 | 5.0               14 | 10.0              14 | 10.0              16 | 2.0                8 | 10.0              12 | 10.0              16 | 10.0              16 | 10.0              18 | 10.0               6 | -1.0               4 |
|                  | (2 cyl)            4 | 2.0                4 | 2.0                4 | 2.0                4 | 3.0                4 | 3.0                4 | 3.0               16 | 5.0                8 | 10.0               6 | 2.0                4 | 2.0                8 | 10.0               8 | 2.0                8 | 2.0                8 | 16.0               6 | 16.0               6 | 16.0               2 | 16.0               2 |
|                  | (16 cyl)           2 | 3.0                4 | 3.0                4 | 3.0                4 | 16.0               2 | 16.0               2 | 2.0                4 | 2.0                4 | 2.0                4 | 5.0                2 | 5.0                4 | 5.0                4 | 16.0               4 | 16.0               4 | 5.0                4 | 5.0                2 | 5.0                2 |                      |
|                  |                      |                      | 16.0               2 | 16.0               2 |                      |                      | 16.0               2 | 16.0               2 |                      |                      | 16.0               2 | 16.0               2 | 5.0                4 | 5.0                2 |                      |                      |                      |                      |
+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

In [151]:
for data in df_list:
    data['Engine_Cylinders'] = data['Engine_Cylinders'].astype(str).str.extract(r'(\d+)').astype(float).astype('Int64')

print(create_table(task=get_engine_cylinders, header=["Dataset", "Engine Cylinders"], table_design="grid"))

+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Dataset          | df_2008              | df_2009              | df_2010              | df_2011              | df_2012              | df_2013              | df_2014              | df_2015              | df_2016              | df_2017              | df_2018              | df_2019              | df_2020              | df_2021              | df_2022              | df_2023              | df_2024              | df_2025              |
+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
| Engine Cylinders | 6                845 | 6                830 | 6                782 | 6                786 | 4                799 | 4                955 | 4                993 | 4               1065 | 4               1216 | 4               1225 | 4               1285 | 4               1258 | 4               1166 | 4               1125 | 4               1133 | 4               1052 | 4               1006 | 4                908 |
|                  | 4                582 | 4                743 | 4                768 | 4                719 | 6                745 | 6                740 | 6                810 | 6                842 | 6                902 | 6                848 | 6                916 | 6                884 | 6                789 | 6                758 | 6                800 | 6                835 | 6                699 | 6                484 |
|                  | 8                572 | 8                653 | 8                454 | 8                477 | 8                513 | 8                549 | 8                540 | 8                471 | 8                452 | 8                447 | 8                484 | 8                466 | 8                506 | 8                552 | 8                499 | 8                470 | 8                394 | 8                329 |
|                  | 5                113 | 5                106 | 5                 76 | 12                48 | 12                68 | 12                64 | 12                62 | 12                60 | 12                65 | 12                73 | 12                53 | 3                 48 | 12                47 | 3                 68 | 3                 54 | 3                 56 | 3                 46 | 3                 48 |
|                  | 12                60 | 12                52 | 12                62 | 5                 38 | 5                 48 | 5                 45 | 5                 27 | 3                 21 | 3                 14 | 3                 52 | 3                 44 | 12                40 | 3                 44 | 12                46 | 12                38 | 12                43 | 12                36 | 12                26 |
|                  | 10                29 | 10                26 | 10                30 | 10                20 | 10                20 | 10                12 | 10                20 | 10                12 | 5                 14 | 10                14 | 10                16 | 2                  8 | 10                12 | 10                16 | 10                16 | 10                18 | 10                 6 | 1                  4 |
|                  | 2                  4 | 2                  4 | 2                  4 | 2                  4 | 3                  4 | 3                  4 | 3                 16 | 5                  8 | 10                 6 | 2                  4 | 2                  8 | 10                 8 | 2                  8 | 2                  8 | 16                 6 | 16                 6 | 16                 2 | 16                 2 |
|                  | 16                 2 | 3                  4 | 3                  4 | 3                  4 | 16                 2 | 16                 2 | 2                  4 | 2                  4 | 2                  4 | 5                  2 | 5                  4 | 5                  4 | 16                 4 | 16                 4 | 5                  4 | 5                  2 | 5                  2 |                      |
|                  |                      |                      | 16                 2 | 16                 2 |                      |                      | 16                 2 | 16                 2 |                      |                      | 16                 2 | 16                 2 | 5                  4 | 5                  2 |                      |                      |                      |                      |
+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+

In [152]:
# Check if Null Values 
def get_engine_cylinders_null_counts(data: pd.DataFrame):
  Count = data['Engine_Cylinders'].isnull().sum()
  return Count

print(create_table(task=get_engine_cylinders_null_counts, header=['Dataset', 'Engine Cylinders'], table_design="grid"))

+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Dataset          | df_2008 | df_2009 | df_2010 | df_2011 | df_2012 | df_2013 | df_2014 | df_2015 | df_2016 | df_2017 | df_2018 | df_2019 | df_2020 | df_2021 | df_2022 | df_2023 | df_2024 | df_2025 |
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| Engine Cylinders | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       | 0       |
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+

Fix Mod (Air Pollution Score & Green House Gas Score)

In [153]:
def get_air_pollution_score(data: pd.DataFrame):
  Count = data['Air_Pollution_Score'].value_counts()
  returner = ''
  for Score, count in Count.items():
    returner += f'{Score:<5}{count:>7}\n'
  return returner

def get_greenhouse_gas_score(data: pd.DataFrame):
  Count = data['Greenhouse_Gas_Score'].value_counts()
  returner = ''
  for Score, count in Count.items():
    returner += f'{Score:<5}{count:>7}\n'
  return returner



print(create_table(task=get_air_pollution_score, header=['Dataset', 'Air Pollution Score'], table_design="grid"))
print(create_table(task=get_greenhouse_gas_score, header=['Dataset', 'Greenhouse Gas Score'], table_design="grid"))

+---------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset             | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+---------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Air Pollution Score | 6       1483 | 6       1566 | 6       1295 | 5       1169 | 5       1139 | 5       1153 | 5       1129 | 5       1105 | 5        987 | 6       1319 | 3       1114 | 3        862 | 5        777 | 5        801 | 5        753 | 5        752 | 7        744 | 6        732 |
|                     | 7        528 | 7        672 | 7        682 | 6        728 | 6        817 | 6        896 | 6        991 | 6       1004 | 6        953 | 5        364 | 5        637 | 5        762 | 3        704 | 3        600 | 7        522 | 7        594 | 5        582 | 4        388 |
|                     | 9.5       80 | 9.5      104 | 9.5      102 | 9         83 | 9         94 | 9        125 | 9        132 | 9        132 | 6        204 | 7        325 | 7        422 | 7        443 | 7        441 | 7        503 | 6        474 | 6        381 | 6        283 | 5        223 |
|                     | 3         71 | 9         32 | 8         40 | 8         38 | 2         55 | 8         60 | 7         92 | 7        113 | 7        160 | 6        194 | 1        285 | 1        228 | 6        225 | 6        281 | 3        446 | 3        363 | 3        270 | 6        140 |
|                     | 9         23 | 3         17 | 9         33 | 7         35 | 7         37 | 7         56 | 8         45 | Mod       54 | 9        137 | 8        193 | 3        170 | 6        151 | 1        165 | 1        134 | 7        134 | 7        114 | 7        132 | 2        112 |
|                     | 8         15 | 8         13 | Mod       18 | 2         25 | 8         35 | 2         50 | Mod       43 | 8         52 | 5         80 | 9        146 | 7         76 | 3        134 | 3        112 | 7        122 | 1        103 | 1        110 | 5         64 | 4         96 |
|                     | 1          6 | Mod       12 | 3         10 | Mod       18 | Mod       20 | Mod       31 | 2         42 | 2         25 | 8         64 | 5         40 | 5         64 | 7         74 | 7         98 | 5         64 | 3         48 | 5         88 | 1         50 | 7         50 |
|                     | 4          1 | 4          2 | 4          2 | 3          2 | 3          2 |              |              |              | Mod       24 | 7         26 | 6         28 | 5         56 | 5         44 | 3         52 | 5         44 | 3         32 | 3         20 | 1         20 |
|                     |              |              |              |              |              |              |              |              | 8         18 | 9         24 | 1          8 | 8          4 | 1          8 | 6         10 | 6         18 | 6         30 | 6         20 | 5         16 |
|                     |              |              |              |              |              |              |              |              | 7         16 | 8         20 | 8          4 | 1          2 | 8          4 | 1          8 | 1          8 | 8          8 | 8         18 | 2         12 |
|                     |              |              |              |              |              |              |              |              | 9         14 | 2         10 | 6          4 | 6          2 | 6          2 | 8          4 |              | 8          6 | 8          8 | 7          8 |
|                     |              |              |              |              |              |              |              |              | 2         10 | 2          4 |              |              |              |              |              | 1          4 |              | 10         4 |
|                     |              |              |              |              |              |              |              |              | 2          4 |              |              |              |              |              |              |              |              |              |
|                     |              |              |              |              |              |              |              |              | 4          2 |              |              |              |              |              |              |              |              |              |
+---------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
+----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset              | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Greenhouse Gas Score | 6        603 | 5        508 | 5        420 | 4        438 | 5        438 | 5        516 | 5        475 | 5        671 | 5        719 | 5        695 | 5        678 | 5        670 | 5        605 | 5        561 | 5        731 | 5        742 | 5        626 | 5        492 |
|                      | 5        376 | 4        396 | 7        392 | 5        391 | 4        379 | 4        411 | 7        421 | 4        427 | 4        558 | 4        463 | 4        543 | 4        578 | 4        562 | 4        510 | 4        512 | 4        663 | 4        573 | 4        406 |
|                      | 4        329 | 3        368 | 4        341 | 1        369 | 1        371 | 6        403 | 6        399 | 6        418 | 6        436 | 6        353 | 3        449 | 3        407 | 3        401 | 3        454 | 3        427 | 3        292 | 3        264 | 6        254 |
|                      | 7        320 | 7        319 | 6        303 | 3        307 | 3        278 | 7        294 | 4        323 | 7        403 | 7        391 | 7        260 | 6        339 | 6        293 | 6        241 | 6        290 | 6        252 | 6        262 | 6        254 | 3        179 |
|                      | 3        179 | 6        293 | 3        236 | 6        240 | 6        269 | 8        254 | 8        242 | 3        165 | 3        196 | 3        259 | 7        180 | 7        166 | 7        186 | 2        192 | 7        170 | 2         94 | 7         90 | 7         96 |
|                      | 2        159 | 2        183 | 8        145 | 7        168 | 7        220 | 3        206 | 3        208 | 8        163 | 8        137 | 2        120 | 2        114 | 2        134 | 2        124 | 7        158 | 2        114 | 7         82 | 2         84 | 9         96 |
|                      | 8        135 | 1        119 | 2        126 | 2        127 | 2        151 | 2        154 | 2        202 | Mod       54 | 2         76 | 8         90 | 3        100 | 8         96 | 10       108 | 10        92 | 10        88 | 10        80 | 9         84 | 8         64 |
|                      | 0         50 | 8        117 | 1         96 | 8         21 | 8         39 | 10        49 | 9         60 | 2         50 | 10        52 | 4         82 | 10        88 | 10        80 | 8         68 | 1         72 | 8         42 | 7         48 | 8         38 | 2         54 |
|                      | 1         33 | 0         76 | 0         70 | Mod       18 | Mod       20 | 9         31 | 1         54 | 9         47 | 9         45 | 1         71 | 8         84 | 3         68 | 1         67 | 8         38 | 9         36 | 4         40 | 10        32 | 8         30 |
|                      | 9         19 | 9         23 | 9         21 | 9         16 | 9         20 | Mod       31 | 10        47 | 1         44 | 1         39 | 5         64 | 1         57 | 1         46 | 3         48 | 9         36 | 9         32 | 8         32 | 8         32 | 7         28 |
|                      | 10         4 | Mod       12 | Mod       18 | 10         3 | 10        14 | 1         22 | Mod       43 | 10        43 | Mod       24 | 10        52 | 4         44 | 10        32 | 10        30 | 8         36 | 3         28 | 1         25 | 4         28 | 5         24 |
|                      |              | 10         4 | 10        14 |              |              |              |              |              |              | 3         40 | 5         28 | 4         28 | 9         28 | 9         36 | 8         24 | 8         24 | 7         24 | 6         24 |
|                      |              |              |              |              |              |              |              |              |              | 9         28 | 10        22 | 2         26 | 2         28 | 7         28 | 4         24 | 3         24 | 5         20 | 3         16 |
|                      |              |              |              |              |              |              |              |              |              | 10        18 | 9         20 | 9         24 | 8         28 | 2         24 | 7         20 | 9         20 | 1         18 | 1         14 |
|                      |              |              |              |              |              |              |              |              |              | 2         16 | 8         20 | 9         20 | 7         16 | 4         16 | 5         20 | 6         20 | 3         16 | 4         12 |
|                      |              |              |              |              |              |              |              |              |              | 6         16 | 9         16 | 5         18 | 9         16 | 3         16 | 1         16 | 5         16 | 6          8 | 10        12 |
|                      |              |              |              |              |              |              |              |              |              | 9         12 | 7         16 | 8         16 | 4         12 | 10         8 | 2          8 | 9         14 |              |              |
|                      |              |              |              |              |              |              |              |              |              | 8         12 | 2          6 | 7         12 | 5         12 | 5          8 | 6          4 | 1          4 |              |              |
|                      |              |              |              |              |              |              |              |              |              | 7         12 | 6          4 | 6          4 |              | 6          4 | 10         2 |              |              |              |
|                      |              |              |              |              |              |              |              |              |              | 1          2 | 1          4 |              |              |              |              |              |              |              |
+----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+

In [154]:
# Replace Mod with 4
def replace_mod(score):
  if score == 'Mod':
    return '4'

  try:
    return score
  except ValueError:
    print(f"Invalid value: {score}")
    return np.nan

for data in df_list:
  data['Air_Pollution_Score'] = data['Air_Pollution_Score'].apply(replace_mod).astype(float)
  data['Greenhouse_Gas_Score'] = data[ 'Greenhouse_Gas_Score'].apply(replace_mod).astype('int64')


print(create_table(task=get_air_pollution_score, header=['Dataset', 'Air Pollution Score'], table_design="grid"))
print(create_table(task=get_greenhouse_gas_score, header=['Dataset', 'Greenhouse Gas Score'], table_design="grid"))

+---------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset             | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+---------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Air Pollution Score | 6.0     1483 | 6.0     1566 | 6.0     1295 | 5.0     1169 | 5.0     1139 | 5.0     1153 | 5.0     1129 | 5.0     1105 | 6.0     1157 | 6.0     1513 | 3.0     1284 | 3.0      996 | 5.0      821 | 5.0      865 | 5.0      797 | 5.0      840 | 7.0      876 | 6.0      872 |
|                     | 7.0      528 | 7.0      672 | 7.0      682 | 6.0      728 | 6.0      817 | 6.0      896 | 6.0      991 | 6.0     1004 | 5.0     1067 | 5.0      404 | 5.0      701 | 5.0      818 | 3.0      816 | 3.0      652 | 7.0      656 | 7.0      708 | 5.0      646 | 4.0      484 |
|                     | 9.5       80 | 9.5      104 | 9.5      102 | 9.0       83 | 9.0       94 | 9.0      125 | 9.0      132 | 9.0      132 | 7.0      176 | 7.0      351 | 7.0      498 | 7.0      517 | 7.0      539 | 7.0      625 | 3.0      494 | 6.0      411 | 6.0      303 | 5.0      239 |
|                     | 3.0       71 | 9.0       32 | 8.0       40 | 8.0       38 | 2.0       55 | 8.0       60 | 7.0       92 | 7.0      113 | 9.0      151 | 8.0      213 | 1.0      293 | 1.0      230 | 6.0      227 | 6.0      291 | 6.0      492 | 3.0      395 | 3.0      290 | 2.0      124 |
|                     | 9.0       23 | 3.0       17 | 9.0       33 | 7.0       35 | 7.0       37 | 7.0       56 | 8.0       45 | 4.0       54 | 8.0       82 | 9.0      170 | 6.0       32 | 6.0      153 | 1.0      173 | 1.0      142 | 1.0      111 | 1.0      114 | 1.0       50 | 7.0       58 |
|                     | 8.0       15 | 4.0       14 | 4.0       20 | 2.0       25 | 8.0       35 | 2.0       50 | 4.0       43 | 8.0       52 | 4.0       26 | 2.0       14 | 8.0        4 | 8.0        4 | 8.0        4 | 8.0        4 |              | 8.0       14 | 8.0       26 | 1.0       20 |
|                     | 1.0        6 | 8.0       13 | 3.0       10 | 4.0       18 | 4.0       20 | 4.0       31 | 2.0       42 | 2.0       25 | 2.0       14 |              |              |              |              |              |              |              |              | 10.0       4 |
|                     | 4.0        1 |              |              | 3.0        2 | 3.0        2 |              |              |              |              |              |              |              |              |              |              |              |              |              |
+---------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
+----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset              | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Greenhouse Gas Score | 6        603 | 5        508 | 5        420 | 4        456 | 5        438 | 5        516 | 5        475 | 5        671 | 5        719 | 5        759 | 5        706 | 5        688 | 5        617 | 5        569 | 5        751 | 5        758 | 5        646 | 5        516 |
|                      | 5        376 | 4        408 | 7        392 | 5        391 | 4        399 | 4        442 | 7        421 | 4        481 | 4        582 | 4        545 | 4        587 | 4        606 | 4        574 | 4        526 | 4        536 | 4        703 | 4        601 | 4        418 |
|                      | 4        329 | 3        368 | 4        359 | 1        369 | 1        371 | 6        403 | 6        399 | 6        418 | 6        436 | 6        369 | 3        549 | 3        475 | 3        449 | 3        470 | 3        455 | 3        316 | 3        280 | 6        278 |
|                      | 7        320 | 7        319 | 6        303 | 3        307 | 3        278 | 7        294 | 4        366 | 7        403 | 7        391 | 3        299 | 6        343 | 6        297 | 6        241 | 6        294 | 6        256 | 6        282 | 6        262 | 3        195 |
|                      | 3        179 | 6        293 | 3        236 | 6        240 | 6        269 | 8        254 | 8        242 | 3        165 | 3        196 | 7        272 | 7        196 | 7        178 | 7        202 | 2        216 | 7        190 | 7        130 | 7        114 | 7        124 |
|                      | 2        159 | 2        183 | 8        145 | 7        168 | 7        220 | 3        206 | 3        208 | 8        163 | 8        137 | 2        136 | 2        120 | 2        160 | 2        152 | 7        186 | 2        122 | 2         94 | 2         84 | 9         96 |
|                      | 8        135 | 1        119 | 2        126 | 2        127 | 2        151 | 2        154 | 2        202 | 2         50 | 2         76 | 8        102 | 10       110 | 8        112 | 10       138 | 10       100 | 10        90 | 10        80 | 9         84 | 8         94 |
|                      | 0         50 | 8        117 | 1         96 | 8         21 | 8         39 | 10        49 | 9         60 | 9         47 | 10        52 | 1         73 | 8        104 | 10       112 | 8         96 | 8         74 | 9         68 | 8         56 | 8         70 | 2         54 |
|                      | 1         33 | 0         76 | 0         70 | 9         16 | 9         20 | 9         31 | 1         54 | 1         44 | 9         45 | 10        70 | 1         61 | 1         46 | 1         67 | 1         72 | 8         66 | 9         34 | 10        32 | 1         14 |
|                      | 9         19 | 9         23 | 9         21 | 10         3 | 10        14 | 1         22 | 10        47 | 10        43 | 1         39 | 9         40 | 9         36 | 9         44 | 9         44 | 9         72 | 1         16 | 1         29 | 1         18 | 10        12 |
|                      | 10         4 | 10         4 | 10        14 |              |              |              |              |              |              |              |              |              |              |              |              |              |              |              |
+----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+

Fix Data type (City Miles per gallon, Highway Miles per gallon, Combined Miles per gallon)

In [155]:
def get_city_miles_per_gallon(data: pd.DataFrame):
  Count = data['City_Mpg'].value_counts().head(10)
  returner = ''
  for Score, count in Count.items():
    returner += f'{Score:<5}{count:>7}\n'
  return returner

def get_Highway_miles_per_gallon(data: pd.DataFrame):
  Count = data['Hwy_Mpg'].value_counts().head(10)
  returner = ''
  for Score, count in Count.items():
    returner += f'{Score:<5}{count:>7}\n'
  return returner

def get_combined_mpg(data: pd.DataFrame):
  Count = data['Combined_Mpg'].value_counts().head(10)
  returner = ''
  for Score, count in Count.items():
    returner += f'{Score:<5}{count:>7}\n'
  return returner


print(create_table(task=get_city_miles_per_gallon, header=["Dataset", "City Miles Per Gallon"], table_design="grid"))
print(create_table(task=get_Highway_miles_per_gallon, header=["Dataset", "Highway Miles Per Gallon"], table_design="grid"))
print(create_table(task=get_combined_mpg, header=["Dataset", "Combined Miles per Gallon"], table_design="grid"))

+-----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset               | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+-----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| City Miles Per Gallon | 17       229 | 17       298 | 18       252 | 18       240 | 18       227 | 19       192 | 20       186 | 18       196 | 20       218 | 21       211 | 20       233 | 21       226 | 20       212 | 15       212 | 19       206 | 18       202 | 19       169 | 19       157 |
|                       | 15       216 | 14       252 | 17       229 | 17       213 | 19       193 | 20       181 | 18       176 | 19       189 | 19       207 | 20       209 | 16       229 | 20       224 | 19       203 | 20       187 | 22       185 | 21       186 | 18       169 | 21       122 |
|                       | 16       206 | 16       230 | 16       195 | 16       168 | 17       176 | 18       179 | 17       173 | 20       188 | 18       195 | 19       190 | 21       219 | 19       218 | 22       191 | 18       182 | 20       184 | 15       186 | 16       158 | 16       116 |
|                       | 14       201 | 18       218 | 15       162 | 19       163 | 15       158 | 16       178 | 19       165 | 17       180 | 22       195 | 18       184 | 22       218 | 22       212 | 21       186 | 21       182 | 15       184 | 19       186 | 21       156 | 15       113 |
|                       | 20       183 | 15       212 | 21       155 | 20       134 | 20       154 | 22       159 | 16       164 | 16       171 | 16       194 | 15       183 | 17       202 | 18       189 | 18       180 | 22       181 | 21       173 | 17       173 | 17       153 | 17       112 |
|                       | 19       180 | 20       167 | 19       144 | 15       133 | 16       141 | 17       151 | 22       161 | 22       153 | 17       193 | 17       182 | 19       200 | 15       188 | 17       179 | 19       170 | 18       170 | 16       168 | 20       140 | 20       104 |
|                       | 18       180 | 19       161 | 22       137 | 14       130 | 14       120 | 21       134 | 13       136 | 15       146 | 15       189 | 16       177 | 18       181 | 17       183 | 15       176 | 17       160 | 17       166 | 22       168 | 22       128 | 18       101 |
|                       | 13       170 | 21       137 | 14       134 | 22       120 | 23       111 | 13       128 | 15       130 | 25       146 | 25       150 | 22       174 | 15       139 | 16       148 | 16       147 | 23       155 | 16       160 | 20       159 | 15       126 | 22       100 |
|                       | 12       138 | 13       124 | 20       124 | 21       111 | 22       110 | 14       117 | 14       122 | 24       133 | 23       132 | 23       151 | 23       130 | 23       133 | 23       136 | 16       154 | 14       150 | 23       126 | 23       118 | 23        94 |
|                       | 21       122 | 22       107 | 13       104 | 13       109 | 21       108 | 15       114 | 25       116 | 21       129 | 21       125 | 25       128 | 24       125 | 24       117 | 14       100 | 14       120 | 23       144 | 14       110 | 14       110 | 26        76 |
+-----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
+--------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset                  | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+--------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Highway Miles Per Gallon | 24       236 | 20       219 | 25       198 | 27       170 | 27       167 | 28       172 | 28       176 | 28       183 | 26       191 | 28       205 | 25       212 | 26       199 | 26       196 | 24       182 | 24       200 | 24       208 | 24       182 | 24       116 |
|                          | 20       183 | 25       211 | 27       178 | 25       165 | 25       162 | 30       148 | 25       140 | 26       149 | 31       185 | 30       175 | 28       205 | 29       186 | 27       184 | 26       180 | 26       184 | 23       156 | 26       142 | 26       108 |
|                          | 26       164 | 24       193 | 26       166 | 26       155 | 28       152 | 25       148 | 30       135 | 25       147 | 28       168 | 24       166 | 30       184 | 27       178 | 24       178 | 27       146 | 25       146 | 26       156 | 23       129 | 28       100 |
|                          | 19       164 | 26       190 | 23       135 | 28       131 | 23       138 | 23       141 | 24       135 | 24       147 | 24       161 | 23       165 | 27       170 | 28       178 | 28       156 | 20       144 | 20       140 | 25       154 | 20       124 | 27       100 |
|                          | 25       157 | 19       171 | 24       127 | 20       130 | 26       123 | 24       137 | 26       130 | 31       134 | 23       156 | 26       163 | 26       166 | 25       166 | 22       156 | 22       134 | 28       137 | 29       128 | 29       118 | 25        99 |
|                          | 28       146 | 28       158 | 20       124 | 23       126 | 20       118 | 27       136 | 23       117 | 27       131 | 22       150 | 27       161 | 23       162 | 30       165 | 29       151 | 30       132 | 27       134 | 20       126 | 25       117 | 23        97 |
|                          | 22       141 | 23       155 | 28       123 | 24       122 | 24       106 | 26       118 | 29       117 | 29       127 | 29       138 | 25       154 | 22       161 | 24       158 | 30       133 | 23       130 | 30       128 | 22       121 | 28       114 | 29        96 |
|                          | 18       128 | 27       144 | 22       120 | 22       107 | 30       106 | 31       101 | 35       115 | 23       120 | 27       135 | 22       148 | 29       160 | 22       153 | 21       132 | 28       130 | 19       125 | 28       121 | 22       113 | 19        91 |
|                          | 27       120 | 22       129 | 19       111 | 18        98 | 29       105 | 29       100 | 31       110 | 30       119 | 25       135 | 29       119 | 24       159 | 23       128 | 25       130 | 29       127 | 23       124 | 21       114 | 27       102 | 22        88 |
|                          | 17       111 | 18       109 | 29       103 | 21        97 | 21        95 | 20        96 | 27       105 | 34       116 | 30       128 | 31       118 | 32       126 | 31       122 | 23       118 | 25       120 | 29       116 | 27       112 | 19       100 | 33        86 |
+--------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
+---------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset                   | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+---------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Combined Miles per Gallon | 20       206 | 20       275 | 21       208 | 21       232 | 21       212 | 21       209 | 21       186 | 22       179 | 18       199 | 23       200 | 22       218 | 22       215 | 23       214 | 17       184 | 22       188 | 20       198 | 21       175 | 21       149 |
|                           | 22       204 | 21       225 | 20       201 | 20       174 | 22       181 | 19       173 | 26       160 | 21       173 | 22       196 | 25       191 | 19       210 | 21       206 | 20       195 | 22       172 | 23       176 | 19       185 | 20       157 | 19       128 |
|                           | 19       190 | 16       218 | 22       186 | 19       172 | 19       153 | 26       158 | 19       158 | 19       169 | 21       185 | 22       188 | 23       206 | 24       194 | 22       182 | 23       171 | 19       172 | 17       178 | 19       149 | 22       108 |
|                           | 18       182 | 18       202 | 19       171 | 22       163 | 20       149 | 22       151 | 23       156 | 23       159 | 23       180 | 19       187 | 25       198 | 25       194 | 21       177 | 25       168 | 21       170 | 22       168 | 17       138 | 17       105 |
|                           | 15       181 | 19       192 | 18       162 | 18       122 | 17       132 | 23       146 | 18       140 | 26       159 | 26       168 | 21       178 | 24       187 | 23       193 | 25       161 | 21       166 | 17       168 | 21       166 | 16       138 | 23        98 |
|                           | 21       168 | 15       158 | 25       140 | 24       116 | 23       128 | 24       130 | 22       133 | 18       149 | 19       166 | 18       170 | 21       177 | 20       165 | 19       150 | 20       166 | 26       163 | 25       152 | 22       136 | 24        98 |
|                           | 16       165 | 22       157 | 24       121 | 16       116 | 26       119 | 20       125 | 20       131 | 20       146 | 20       152 | 24       162 | 18       176 | 19       156 | 17       148 | 19       160 | 20       156 | 23       143 | 23       128 | 25        98 |
|                           | 14       160 | 23       134 | 16       121 | 17       115 | 18       117 | 25       119 | 25       119 | 25       131 | 24       146 | 20       146 | 20       168 | 18       147 | 24       146 | 26       155 | 25       155 | 16       130 | 25       114 | 16        86 |
|                           | 17       140 | 17       130 | 17       116 | 14       106 | 14       112 | 18       114 | 28       113 | 28       129 | 25       136 | 17       129 | 27       145 | 17       144 | 18       137 | 18       138 | 16       153 | 26       129 | 24       110 | 20        85 |
|                           | 24       129 | 24       123 | 23       110 | 26       100 | 24       111 | 16       106 | 30       112 | 24       123 | 27       130 | 26       128 | 26       129 | 27       139 | 26       136 | 16       136 | 18       130 | 18       128 | 26       108 | 26        82 |
+---------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+

In [156]:
for data in df_list:
  data['City_Mpg'] = data['City_Mpg'].astype("int64")
  data['Hwy_Mpg'] = data['Hwy_Mpg'].astype("int64")
  data['Combined_Mpg'] = data['Combined_Mpg'].astype("int64")
  
print(create_table(task=get_city_miles_per_gallon, header=["Dataset", "City Miles Per Gallon"], table_design="grid"))
print(create_table(task=get_Highway_miles_per_gallon, header=["Dataset", "Highway Miles Per Gallon"], table_design="grid"))
print(create_table(task=get_combined_mpg, header=["Dataset", "Combined Miles per Gallon"], table_design="grid"))

+-----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset               | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+-----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| City Miles Per Gallon | 17       229 | 17       298 | 18       252 | 18       240 | 18       227 | 19       192 | 20       186 | 18       196 | 20       218 | 21       211 | 20       233 | 21       226 | 20       212 | 15       212 | 19       206 | 18       202 | 19       169 | 19       157 |
|                       | 15       216 | 14       252 | 17       229 | 17       213 | 19       193 | 20       181 | 18       176 | 19       189 | 19       207 | 20       209 | 16       229 | 20       224 | 19       203 | 20       187 | 22       185 | 21       186 | 18       169 | 21       122 |
|                       | 16       206 | 16       230 | 16       195 | 16       168 | 17       176 | 18       179 | 17       173 | 20       188 | 18       195 | 19       190 | 21       219 | 19       218 | 22       191 | 18       182 | 20       184 | 15       186 | 16       158 | 16       116 |
|                       | 14       201 | 18       218 | 15       162 | 19       163 | 15       158 | 16       178 | 19       165 | 17       180 | 22       195 | 18       184 | 22       218 | 22       212 | 21       186 | 21       182 | 15       184 | 19       186 | 21       156 | 15       113 |
|                       | 20       183 | 15       212 | 21       155 | 20       134 | 20       154 | 22       159 | 16       164 | 16       171 | 16       194 | 15       183 | 17       202 | 18       189 | 18       180 | 22       181 | 21       173 | 17       173 | 17       153 | 17       112 |
|                       | 19       180 | 20       167 | 19       144 | 15       133 | 16       141 | 17       151 | 22       161 | 22       153 | 17       193 | 17       182 | 19       200 | 15       188 | 17       179 | 19       170 | 18       170 | 16       168 | 20       140 | 20       104 |
|                       | 18       180 | 19       161 | 22       137 | 14       130 | 14       120 | 21       134 | 13       136 | 15       146 | 15       189 | 16       177 | 18       181 | 17       183 | 15       176 | 17       160 | 17       166 | 22       168 | 22       128 | 18       101 |
|                       | 13       170 | 21       137 | 14       134 | 22       120 | 23       111 | 13       128 | 15       130 | 25       146 | 25       150 | 22       174 | 15       139 | 16       148 | 16       147 | 23       155 | 16       160 | 20       159 | 15       126 | 22       100 |
|                       | 12       138 | 13       124 | 20       124 | 21       111 | 22       110 | 14       117 | 14       122 | 24       133 | 23       132 | 23       151 | 23       130 | 23       133 | 23       136 | 16       154 | 14       150 | 23       126 | 23       118 | 23        94 |
|                       | 21       122 | 22       107 | 13       104 | 13       109 | 21       108 | 15       114 | 25       116 | 21       129 | 21       125 | 25       128 | 24       125 | 24       117 | 14       100 | 14       120 | 23       144 | 14       110 | 14       110 | 26        76 |
+-----------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
+--------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset                  | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+--------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Highway Miles Per Gallon | 24       236 | 20       219 | 25       198 | 27       170 | 27       167 | 28       172 | 28       176 | 28       183 | 26       191 | 28       205 | 25       212 | 26       199 | 26       196 | 24       182 | 24       200 | 24       208 | 24       182 | 24       116 |
|                          | 20       183 | 25       211 | 27       178 | 25       165 | 25       162 | 30       148 | 25       140 | 26       149 | 31       185 | 30       175 | 28       205 | 29       186 | 27       184 | 26       180 | 26       184 | 23       156 | 26       142 | 26       108 |
|                          | 26       164 | 24       193 | 26       166 | 26       155 | 28       152 | 25       148 | 30       135 | 25       147 | 28       168 | 24       166 | 30       184 | 27       178 | 24       178 | 27       146 | 25       146 | 26       156 | 23       129 | 28       100 |
|                          | 19       164 | 26       190 | 23       135 | 28       131 | 23       138 | 23       141 | 24       135 | 24       147 | 24       161 | 23       165 | 27       170 | 28       178 | 28       156 | 20       144 | 20       140 | 25       154 | 20       124 | 27       100 |
|                          | 25       157 | 19       171 | 24       127 | 20       130 | 26       123 | 24       137 | 26       130 | 31       134 | 23       156 | 26       163 | 26       166 | 25       166 | 22       156 | 22       134 | 28       137 | 29       128 | 29       118 | 25        99 |
|                          | 28       146 | 28       158 | 20       124 | 23       126 | 20       118 | 27       136 | 23       117 | 27       131 | 22       150 | 27       161 | 23       162 | 30       165 | 29       151 | 30       132 | 27       134 | 20       126 | 25       117 | 23        97 |
|                          | 22       141 | 23       155 | 28       123 | 24       122 | 24       106 | 26       118 | 29       117 | 29       127 | 29       138 | 25       154 | 22       161 | 24       158 | 30       133 | 23       130 | 30       128 | 22       121 | 28       114 | 29        96 |
|                          | 18       128 | 27       144 | 22       120 | 22       107 | 30       106 | 31       101 | 35       115 | 23       120 | 27       135 | 22       148 | 29       160 | 22       153 | 21       132 | 28       130 | 19       125 | 28       121 | 22       113 | 19        91 |
|                          | 27       120 | 22       129 | 19       111 | 18        98 | 29       105 | 29       100 | 31       110 | 30       119 | 25       135 | 29       119 | 24       159 | 23       128 | 25       130 | 29       127 | 23       124 | 21       114 | 27       102 | 22        88 |
|                          | 17       111 | 18       109 | 29       103 | 21        97 | 21        95 | 20        96 | 27       105 | 34       116 | 30       128 | 31       118 | 32       126 | 31       122 | 23       118 | 25       120 | 29       116 | 27       112 | 19       100 | 33        86 |
+--------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
+---------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Dataset                   | df_2008      | df_2009      | df_2010      | df_2011      | df_2012      | df_2013      | df_2014      | df_2015      | df_2016      | df_2017      | df_2018      | df_2019      | df_2020      | df_2021      | df_2022      | df_2023      | df_2024      | df_2025      |
+---------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Combined Miles per Gallon | 20       206 | 20       275 | 21       208 | 21       232 | 21       212 | 21       209 | 21       186 | 22       179 | 18       199 | 23       200 | 22       218 | 22       215 | 23       214 | 17       184 | 22       188 | 20       198 | 21       175 | 21       149 |
|                           | 22       204 | 21       225 | 20       201 | 20       174 | 22       181 | 19       173 | 26       160 | 21       173 | 22       196 | 25       191 | 19       210 | 21       206 | 20       195 | 22       172 | 23       176 | 19       185 | 20       157 | 19       128 |
|                           | 19       190 | 16       218 | 22       186 | 19       172 | 19       153 | 26       158 | 19       158 | 19       169 | 21       185 | 22       188 | 23       206 | 24       194 | 22       182 | 23       171 | 19       172 | 17       178 | 19       149 | 22       108 |
|                           | 18       182 | 18       202 | 19       171 | 22       163 | 20       149 | 22       151 | 23       156 | 23       159 | 23       180 | 19       187 | 25       198 | 25       194 | 21       177 | 25       168 | 21       170 | 22       168 | 17       138 | 17       105 |
|                           | 15       181 | 19       192 | 18       162 | 18       122 | 17       132 | 23       146 | 18       140 | 26       159 | 26       168 | 21       178 | 24       187 | 23       193 | 25       161 | 21       166 | 17       168 | 21       166 | 16       138 | 23        98 |
|                           | 21       168 | 15       158 | 25       140 | 24       116 | 23       128 | 24       130 | 22       133 | 18       149 | 19       166 | 18       170 | 21       177 | 20       165 | 19       150 | 20       166 | 26       163 | 25       152 | 22       136 | 24        98 |
|                           | 16       165 | 22       157 | 24       121 | 16       116 | 26       119 | 20       125 | 20       131 | 20       146 | 20       152 | 24       162 | 18       176 | 19       156 | 17       148 | 19       160 | 20       156 | 23       143 | 23       128 | 25        98 |
|                           | 14       160 | 23       134 | 16       121 | 17       115 | 18       117 | 25       119 | 25       119 | 25       131 | 24       146 | 20       146 | 20       168 | 18       147 | 24       146 | 26       155 | 25       155 | 16       130 | 25       114 | 16        86 |
|                           | 17       140 | 17       130 | 17       116 | 14       106 | 14       112 | 18       114 | 28       113 | 28       129 | 25       136 | 17       129 | 27       145 | 17       144 | 18       137 | 18       138 | 16       153 | 26       129 | 24       110 | 20        85 |
|                           | 24       129 | 24       123 | 23       110 | 26       100 | 24       111 | 16       106 | 30       112 | 24       123 | 27       130 | 26       128 | 26       129 | 27       139 | 26       136 | 16       136 | 18       130 | 18       128 | 26       108 | 26        82 |
+---------------------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+

Add Combined_Co2 (on 2008-2012)

![Combined_CO2](./img/CO2.png)

In [157]:
fuel_emissions_map = {
    'Gasoline': {'co2_g_per_gal': 8887, 'ch4_n2o_g_per_mile': 1.9},
    'Ethanol': {'co2_g_per_gal': 6295, 'ch4_n2o_g_per_mile': 4.06},  # Mapping E85 to Ethanol
    'Gas': {'co2_g_per_gal': 7030, 'ch4_n2o_g_per_mile': 6.88},      # Assuming CNG
    'Diesel': {'co2_g_per_gal': 10180, 'ch4_n2o_g_per_mile': 0.4},
    'CNG': {'co2_g_per_gal': 7030, 'ch4_n2o_g_per_mile': 6.88},
    'Electricity': {'co2_g_per_gal': 0, 'ch4_n2o_g_per_mile': 0},    # Placeholder, since tailpipe = 0
}

def compute_comb_co2e(fuel_type: str, combined_mpg: float) -> float:
  fuel_type = fuel_type.strip()

  if fuel_type not in fuel_emissions_map:
    print(f"Unknown fuel type: '{fuel_type}'")
    raise ValueError(f"Unknown fuel type: '{fuel_type}'")

  if combined_mpg <= 0:
    print("Combined MPG must be a positive number.")
    raise ValueError("Combined MPG must be a positive number.")

  emission = fuel_emissions_map[fuel_type]
  
  co2_per_mile = emission['co2_g_per_gal'] / combined_mpg
  total_co2e = co2_per_mile + emission['ch4_n2o_g_per_mile']
  
  return round(total_co2e)


for data in df_list[:5]:
  def safe_compute(row):
    try:
      return compute_comb_co2e(row['Fuel'], float(row['Combined_Mpg']))
    except Exception:
      return None  # or np.nan

  data['Combined_Co2'] = data.apply(safe_compute, axis=1)

In [158]:
df_list[0]

,Vehicle_Model,Engine_Displacement_L,Engine_Cylinders,Transmission_Type,Drive,Fuel,Cert_Region,Veh_Class,Air_Pollution_Score,City_Mpg,Hwy_Mpg,Combined_Mpg,Greenhouse_Gas_Score,Smartway,Combined_Co2
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15,20,17,4,No,525
1,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,FA,SUV,6.0,15,20,17,4,No,525
2,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17,22,19,5,No,470
3,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17,22,19,5,No,470
4,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,midsize car,7.0,16,24,19,5,No,470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,MITSUBISHI Raider,4.7,8,Auto-L5,4WD,Gas,FA,pickup,3.0,14,19,15,3,No,476
2203,NISSAN Armada,5.6,8,Auto-L5,2WD,Gas,FA,SUV,6.0,12,18,14,2,No,509
2204,NISSAN Armada,5.6,8,Auto-L5,4WD,Gas,FA,SUV,6.0,12,17,14,2,No,509
2205,NISSAN Titan,5.6,8,Auto-L5,2WD,Gas,FA,pickup,6.0,12,17,14,2,No,509
2206,NISSAN Titan,5.6,8,Auto-L5,4WD,Gas,FA,pickup,6.0,12,17,14,2,No,509

Save as New Data

In [159]:
for i, data in enumerate(df_list):
  data.to_csv(f"fix_data/df_{i+2008}.csv", index=False)

In [160]:
print(create_table(task=get_info, header=['Dataset', 'Info'], table_design='grid'))

+---------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+
| Dataset | df_2008                                             | df_2009                                             | df_2010                                             | df_2011                                             | df_2012                                             | df_2013                                             | df_2014                                             | df_2015                                             | df_2016                                             | df_2017                                             | df_2018                                             | df_2019                                             | df_2020                                             | df_2021                                             | df_2022                                             | df_2023                                             | df_2024                                             | df_2025                                             |
+---------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+-----------------------------------------------------+
| Info    | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               | <class 'pandas.core.frame.DataFrame'>               |
|         | RangeIndex: 2207 entries, 0 to 2206                 | RangeIndex: 2418 entries, 0 to 2417                 | Index: 2182 entries, 0 to 2185                      | Index: 2098 entries, 0 to 2106                      | Index: 2199 entries, 0 to 2202                      | RangeIndex: 2371 entries, 0 to 2370                 | Index: 2474 entries, 0 to 2475                      | RangeIndex: 2485 entries, 0 to 2484                 | RangeIndex: 2673 entries, 0 to 2672                 | RangeIndex: 2665 entries, 0 to 2664                 | Index: 2812 entries, 0 to 2813                      | Index: 2718 entries, 0 to 2719                      | RangeIndex: 2580 entries, 0 to 2579                 | RangeIndex: 2579 entries, 0 to 2578                 | RangeIndex: 2550 entries, 0 to 2549                 | RangeIndex: 2482 entries, 0 to 2481                 | RangeIndex: 2191 entries, 0 to 2190                 | RangeIndex: 1801 entries, 0 to 1800                 |
|         | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    | Data columns (total 15 columns):                    |
|         |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |  #   Column                 Non-Null Count  Dtype   |
|         | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   | ---  ------                 --------------  -----   |
|         |  0   Vehicle_Model          2207 non-null   object  |  0   Vehicle_Model          2418 non-null   object  |  0   Vehicle_Model          2182 non-null   object  |  0   Vehicle_Model          2098 non-null   object  |  0   Vehicle_Model          2199 non-null   object  |  0   Vehicle_Model          2371 non-null   object  |  0   Vehicle_Model          2474 non-null   object  |  0   Vehicle_Model          2485 non-null   object  |  0   Vehicle_Model          2673 non-null   object  |  0   Vehicle_Model          2665 non-null   object  |  0   Vehicle_Model          2812 non-null   object  |  0   Vehicle_Model          2718 non-null   object  |  0   Vehicle_Model          2580 non-null   object  |  0   Vehicle_Model          2579 non-null   object  |  0   Vehicle_Model          2550 non-null   object  |  0   Vehicle_Model          2482 non-null   object  |  0   Vehicle_Model          2191 non-null   object  |  0   Vehicle_Model          1801 non-null   object  |
|         |  1   Engine_Displacement_L  2207 non-null   float64 |  1   Engine_Displacement_L  2418 non-null   float64 |  1   Engine_Displacement_L  2182 non-null   float64 |  1   Engine_Displacement_L  2098 non-null   float64 |  1   Engine_Displacement_L  2199 non-null   float64 |  1   Engine_Displacement_L  2371 non-null   float64 |  1   Engine_Displacement_L  2474 non-null   float64 |  1   Engine_Displacement_L  2485 non-null   float64 |  1   Engine_Displacement_L  2673 non-null   float64 |  1   Engine_Displacement_L  2665 non-null   float64 |  1   Engine_Displacement_L  2812 non-null   float64 |  1   Engine_Displacement_L  2718 non-null   float64 |  1   Engine_Displacement_L  2580 non-null   float64 |  1   Engine_Displacement_L  2579 non-null   float64 |  1   Engine_Displacement_L  2550 non-null   float64 |  1   Engine_Displacement_L  2482 non-null   float64 |  1   Engine_Displacement_L  2191 non-null   float64 |  1   Engine_Displacement_L  1801 non-null   float64 |
|         |  2   Engine_Cylinders       2207 non-null   Int64   |  2   Engine_Cylinders       2418 non-null   Int64   |  2   Engine_Cylinders       2182 non-null   Int64   |  2   Engine_Cylinders       2098 non-null   Int64   |  2   Engine_Cylinders       2199 non-null   Int64   |  2   Engine_Cylinders       2371 non-null   Int64   |  2   Engine_Cylinders       2474 non-null   Int64   |  2   Engine_Cylinders       2485 non-null   Int64   |  2   Engine_Cylinders       2673 non-null   Int64   |  2   Engine_Cylinders       2665 non-null   Int64   |  2   Engine_Cylinders       2812 non-null   Int64   |  2   Engine_Cylinders       2718 non-null   Int64   |  2   Engine_Cylinders       2580 non-null   Int64   |  2   Engine_Cylinders       2579 non-null   Int64   |  2   Engine_Cylinders       2550 non-null   Int64   |  2   Engine_Cylinders       2482 non-null   Int64   |  2   Engine_Cylinders       2191 non-null   Int64   |  2   Engine_Cylinders       1801 non-null   Int64   |
|         |  3   Transmission_Type      2207 non-null   object  |  3   Transmission_Type      2418 non-null   object  |  3   Transmission_Type      2182 non-null   object  |  3   Transmission_Type      2098 non-null   object  |  3   Transmission_Type      2199 non-null   object  |  3   Transmission_Type      2371 non-null   object  |  3   Transmission_Type      2474 non-null   object  |  3   Transmission_Type      2485 non-null   object  |  3   Transmission_Type      2673 non-null   object  |  3   Transmission_Type      2665 non-null   object  |  3   Transmission_Type      2812 non-null   object  |  3   Transmission_Type      2718 non-null   object  |  3   Transmission_Type      2580 non-null   object  |  3   Transmission_Type      2579 non-null   object  |  3   Transmission_Type      2550 non-null   object  |  3   Transmission_Type      2482 non-null   object  |  3   Transmission_Type      2191 non-null   object  |  3   Transmission_Type      1801 non-null   object  |
|         |  4   Drive                  2207 non-null   object  |  4   Drive                  2418 non-null   object  |  4   Drive                  2182 non-null   object  |  4   Drive                  2098 non-null   object  |  4   Drive                  2199 non-null   object  |  4   Drive                  2371 non-null   object  |  4   Drive                  2474 non-null   object  |  4   Drive                  2485 non-null   object  |  4   Drive                  2673 non-null   object  |  4   Drive                  2665 non-null   object  |  4   Drive                  2812 non-null   object  |  4   Drive                  2718 non-null   object  |  4   Drive                  2580 non-null   object  |  4   Drive                  2579 non-null   object  |  4   Drive                  2550 non-null   object  |  4   Drive                  2482 non-null   object  |  4   Drive                  2191 non-null   object  |  4   Drive                  1801 non-null   object  |
|         |  5   Fuel                   2207 non-null   object  |  5   Fuel                   2418 non-null   object  |  5   Fuel                   2182 non-null   object  |  5   Fuel                   2098 non-null   object  |  5   Fuel                   2199 non-null   object  |  5   Fuel                   2371 non-null   object  |  5   Fuel                   2474 non-null   object  |  5   Fuel                   2485 non-null   object  |  5   Fuel                   2673 non-null   object  |  5   Fuel                   2665 non-null   object  |  5   Fuel                   2812 non-null   object  |  5   Fuel                   2718 non-null   object  |  5   Fuel                   2580 non-null   object  |  5   Fuel                   2579 non-null   object  |  5   Fuel                   2550 non-null   object  |  5   Fuel                   2482 non-null   object  |  5   Fuel                   2191 non-null   object  |  5   Fuel                   1801 non-null   object  |
|         |  6   Cert_Region            2207 non-null   object  |  6   Cert_Region            2418 non-null   object  |  6   Cert_Region            2182 non-null   object  |  6   Cert_Region            2098 non-null   object  |  6   Cert_Region            2199 non-null   object  |  6   Cert_Region            2371 non-null   object  |  6   Cert_Region            2474 non-null   object  |  6   Cert_Region            2485 non-null   object  |  6   Cert_Region            2673 non-null   object  |  6   Cert_Region            2665 non-null   object  |  6   Cert_Region            2812 non-null   object  |  6   Cert_Region            2718 non-null   object  |  6   Cert_Region            2580 non-null   object  |  6   Cert_Region            2579 non-null   object  |  6   Cert_Region            2550 non-null   object  |  6   Cert_Region            2482 non-null   object  |  6   Cert_Region            2191 non-null   object  |  6   Cert_Region            1801 non-null   object  |
|         |  7   Veh_Class              2207 non-null   object  |  7   Veh_Class              2418 non-null   object  |  7   Veh_Class              2182 non-null   object  |  7   Veh_Class              2098 non-null   object  |  7   Veh_Class              2199 non-null   object  |  7   Veh_Class              2371 non-null   object  |  7   Veh_Class              2474 non-null   object  |  7   Veh_Class              2485 non-null   object  |  7   Veh_Class              2673 non-null   object  |  7   Veh_Class              2665 non-null   object  |  7   Veh_Class              2812 non-null   object  |  7   Veh_Class              2718 non-null   object  |  7   Veh_Class              2580 non-null   object  |  7   Veh_Class              2579 non-null   object  |  7   Veh_Class              2550 non-null   object  |  7   Veh_Class              2482 non-null   object  |  7   Veh_Class              2191 non-null   object  |  7   Veh_Class              1801 non-null   object  |
|         |  8   Air_Pollution_Score    2207 non-null   float64 |  8   Air_Pollution_Score    2418 non-null   float64 |  8   Air_Pollution_Score    2182 non-null   float64 |  8   Air_Pollution_Score    2098 non-null   float64 |  8   Air_Pollution_Score    2199 non-null   float64 |  8   Air_Pollution_Score    2371 non-null   float64 |  8   Air_Pollution_Score    2474 non-null   float64 |  8   Air_Pollution_Score    2485 non-null   float64 |  8   Air_Pollution_Score    2673 non-null   float64 |  8   Air_Pollution_Score    2665 non-null   float64 |  8   Air_Pollution_Score    2812 non-null   float64 |  8   Air_Pollution_Score    2718 non-null   float64 |  8   Air_Pollution_Score    2580 non-null   float64 |  8   Air_Pollution_Score    2579 non-null   float64 |  8   Air_Pollution_Score    2550 non-null   float64 |  8   Air_Pollution_Score    2482 non-null   float64 |  8   Air_Pollution_Score    2191 non-null   float64 |  8   Air_Pollution_Score    1801 non-null   float64 |
|         |  9   City_Mpg               2207 non-null   int64   |  9   City_Mpg               2418 non-null   int64   |  9   City_Mpg               2182 non-null   int64   |  9   City_Mpg               2098 non-null   int64   |  9   City_Mpg               2199 non-null   int64   |  9   City_Mpg               2371 non-null   int64   |  9   City_Mpg               2474 non-null   int64   |  9   City_Mpg               2485 non-null   int64   |  9   City_Mpg               2673 non-null   int64   |  9   City_Mpg               2665 non-null   int64   |  9   City_Mpg               2812 non-null   int64   |  9   City_Mpg               2718 non-null   int64   |  9   City_Mpg               2580 non-null   int64   |  9   City_Mpg               2579 non-null   int64   |  9   City_Mpg               2550 non-null   int64   |  9   City_Mpg               2482 non-null   int64   |  9   City_Mpg               2191 non-null   int64   |  9   City_Mpg               1801 non-null   int64   |
|         |  10  Hwy_Mpg                2207 non-null   int64   |  10  Hwy_Mpg                2418 non-null   int64   |  10  Hwy_Mpg                2182 non-null   int64   |  10  Hwy_Mpg                2098 non-null   int64   |  10  Hwy_Mpg                2199 non-null   int64   |  10  Hwy_Mpg                2371 non-null   int64   |  10  Hwy_Mpg                2474 non-null   int64   |  10  Hwy_Mpg                2485 non-null   int64   |  10  Hwy_Mpg                2673 non-null   int64   |  10  Hwy_Mpg                2665 non-null   int64   |  10  Hwy_Mpg                2812 non-null   int64   |  10  Hwy_Mpg                2718 non-null   int64   |  10  Hwy_Mpg                2580 non-null   int64   |  10  Hwy_Mpg                2579 non-null   int64   |  10  Hwy_Mpg                2550 non-null   int64   |  10  Hwy_Mpg                2482 non-null   int64   |  10  Hwy_Mpg                2191 non-null   int64   |  10  Hwy_Mpg                1801 non-null   int64   |
|         |  11  Combined_Mpg           2207 non-null   int64   |  11  Combined_Mpg           2418 non-null   int64   |  11  Combined_Mpg           2182 non-null   int64   |  11  Combined_Mpg           2098 non-null   int64   |  11  Combined_Mpg           2199 non-null   int64   |  11  Combined_Mpg           2371 non-null   int64   |  11  Combined_Mpg           2474 non-null   int64   |  11  Combined_Mpg           2485 non-null   int64   |  11  Combined_Mpg           2673 non-null   int64   |  11  Combined_Mpg           2665 non-null   int64   |  11  Combined_Mpg           2812 non-null   int64   |  11  Combined_Mpg           2718 non-null   int64   |  11  Combined_Mpg           2580 non-null   int64   |  11  Combined_Mpg           2579 non-null   int64   |  11  Combined_Mpg           2550 non-null   int64   |  11  Combined_Mpg           2482 non-null   int64   |  11  Combined_Mpg           2191 non-null   int64   |  11  Combined_Mpg           1801 non-null   int64   |

Merge them

In [161]:
for i, df in enumerate(df_list):
  df['year'] = 2008 + i

In [162]:
merged_df = pd.concat(df_list, ignore_index=True)

In [163]:
company_name = merged_df['Vehicle_Model'].str.split().str[0]
merged_df.insert(0, 'Company', company_name)

In [164]:
merged_df.to_csv('merged_df.csv', index=False)
merged_df

,Company,Vehicle_Model,Engine_Displacement_L,Engine_Cylinders,Transmission_Type,Drive,Fuel,Cert_Region,Veh_Class,Air_Pollution_Score,City_Mpg,Hwy_Mpg,Combined_Mpg,Greenhouse_Gas_Score,Smartway,Combined_Co2,year
0,ACURA,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,SUV,7.0,15,20,17,4,No,525,2008
1,ACURA,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,FA,SUV,6.0,15,20,17,4,No,525,2008
2,ACURA,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,SUV,7.0,17,22,19,5,No,470,2008
3,ACURA,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,FA,SUV,6.0,17,22,19,5,No,470,2008
4,ACURA,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,midsize car,7.0,16,24,19,5,No,470,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43480,VOLVO,VOLVO V60 T8,2.0,4,SemiAuto-8,4WD,Electricity,FA,station wagon,6.0,74,73,74,9,Yes,99,2025
43481,VOLVO,VOLVO XC60 T8,2.0,4,SemiAuto-8,4WD,Electricity,CA,small SUV,6.0,66,60,63,9,Yes,122,2025
43482,VOLVO,VOLVO XC60 T8,2.0,4,SemiAuto-8,4WD,Electricity,FA,small SUV,6.0,66,60,63,9,Yes,122,2025
43483,VOLVO,VOLVO XC90 T8,2.0,4,SemiAuto-8,4WD,Electricity,CA,standard SUV,6.0,59,57,58,8,Yes,137,2025
43484,VOLVO,VOLVO XC90 T8,2.0,4,SemiAuto-8,4WD,Electricity,FA,standard SUV,6.0,59,57,58,8,Yes,137,2025