<a href="https://colab.research.google.com/github/0xflame-7/deepdata-archive/blob/main/customer_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
from google.colab import userdata

In [29]:
KAGGLE_USERNAME = userdata.get("KAGGLE_USER")
KAGGLE_KEY = userdata.get("KAGGLE_TOKEN")

In [32]:
cred = {
    "username": KAGGLE_USERNAME,
    "key": KAGGLE_KEY
}
cred

{'username': 'flame7x0', 'key': '893616eeaa7eae6446aa4753fd9571f0'}

In [34]:
import os, json

os.makedirs(os.path.expanduser("~/.kaggle"), exist_ok=True)

In [35]:
with open(os.path.expanduser("~/.kaggle/kaggle.json"), "w") as f:
    json.dump(cred, f)

In [37]:
!cat /root/.kaggle/kaggle.json

{"username": "flame7x0", "key": "893616eeaa7eae6446aa4753fd9571f0"}

In [40]:
!chmod 600 /root/.kaggle/kaggle.json

In [56]:
!kaggle datasets download alirezaai/customer-data --force

Dataset URL: https://www.kaggle.com/datasets/alirezaai/customer-data
License(s): unknown
Downloading customer-data.zip to /content
  0% 0.00/340k [00:00<?, ?B/s]
100% 340k/340k [00:00<00:00, 489MB/s]

In [57]:
!unzip customer-data.zip
!rm customer-data.zip

Archive:  customer-data.zip
  inflating: Customer_Data.csv

Problem 1

In [43]:
# Problem 1: Data Preprocessing & Analysis
# Dataset: Customer_Data.csv
# Tasks: Missing values, outliers, encoding, standardization/normalization

In [44]:
import pandas as pd

In [58]:
df = pd.read_csv("/content/Customer_Data.csv")

In [60]:
df.head()

,CUSTID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [61]:
df.isnull().sum()

CUSTID                                0
BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [63]:
df[df.CREDIT_LIMIT.isnull()]

,CUSTID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
5203,C15349,18.400472,0.166667,0.0,0.0,0.0,186.853063,0.0,0.0,0.0,0.166667,1,0,NaN,9.040017,14.418723,0.0,6